<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
                <li class="active"><a href="/focus">Focus</a></li>
                <li><a href="/focus">All Students</a></li>
            </ul>
            <ul class="nav nav-tabs hidden-xs">
                <li class="active"><a href="/focus">Focus</a></li>
                <li><a href="/focus">All Students</a></li>
            </ul>
        </div>
    </div>
    <div class="row voffset3">
        <div class="col-xs-12">
            <button ng-if="!editing" ng-click="toggleEdit()" class="btn btn-default pull-right" type="button">Edit</button>
            <button ng-if="editing" ng-click="toggleEdit()" class="btn btn-danger pull-right" type="button">Stop Editing</button>
        </div>
    </div>
    <div class="sortable voffset3" ui-sortable="sortableOptions" ng-model="focusStudents">
        <div class="row" ng-repeat="focusStudent in focusStudents">
            <div class="col-xs-12">
                <div class="focus-remove-button width-slide-padding focus-fade-in focus-cloak focus-width-none" ng-class="{ 'focus-width-none': !editing, 'focus-cloak': !editing, }">
                    <button ng-click="removeFocusStudent(focusStudent)" class="btn btn-danger focus-fade-in focus-cloak focus-width-none" ng-class="{ 'focus-width-none': !editing, 'focus-cloak': !editing, }" type="button">
                        <span class="glyphicon glyphicon-minus white"></span>
                    </button>
                </div>
                <div ng-cloak class="width-slide" ng-class="{ 'focus-student-panel-editing': editing, }">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="/student/{{ focusStudent.student }}">{{ studentsLookup[focusStudent.student].first_name }} {{ studentsLookup[focusStudent.student].last_name }}</a>
                                    <span class="glyphicon glyphicon-chevron-down blackish"
                                          data-toggle="collapse" data-target="#collapse-{{ $index }}" onclick="$(this).toggleClass('glyphicon-chevron-up glyphicon-chevron-down')">
                                </h4>
                            </div>
                            <div id="collapse-{{ $index }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4 centerText">
                                            <label>Focus Category</label>
                                            <span class="glyphicon glyphicon-heart-empty"></span>
                                            <div class="col-sm-12 focusGraph">
                                                <canvas id="focus_graph" class="chart chart-line" chart-data="focus_data" chart-labels="focus_labels" chart-options="options" chart-click="onClick"></canvas>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 centerText">
                                            <label>Progress Category</label>
                                            <span class="glyphicon glyphicon-fire"></span>
                                            <div class="col-sm-12 focusProgress">
                                                <canvas id="focus_progress_graph" class="chart chart-line" chart-data="progress_data" chart-labels="progress_labels" chart-colors="progress_colours" chart-options="options_behavior" chart-click="onClick"></canvas>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 centerText">
                                            <label>Caution Category</label>
                                            <span class="glyphicon glyphicon-alert"></span>
                                            <div class="col-sm-12 focusCaution">
                                                <canvas id="focus_caution_graph" class="chart chart-line" chart-data="caution_data" chart-labels="caution_labels" chart-colors="caution_colours" chart-options="options" chart-click="onClick"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row focus-fade-in focus-cloak" ng-class="{ 'focus-cloak': !editing, }">
        <div class="col-xs-12">
            <div class="panel panel-default panel-add">
                <div class="panel-heading">
                    <h4 class="panel-title centerText">
                        <span class="glyphicon glyphicon-plus blackish"></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
