<div ng-include="'html/inputTabs.html'"></div>
<div ng-if="students.length === 0">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info no-bottom-margin" role="alert">
                <span>It looks like you don't have any students with a behavior service in your caseload</span>
            </div>
        </div>
    </div>
</div>
<div ng-if="students.length > 0">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-behavior-date">
                <div class="input-group">
                    <span class="input-group-addon">Date</span>
                    <input type="text" id="behaviorDate" class="form-control" date-time ng-model="behaviorDate" view="date" min-view="date" format="YYYY-MM-DD" date-change="behaviorDateChange" watch-direct-changes="true">
                </div>
            </div>
            <button class="btn btn-success pull-right" type="button" ng-click="saveBehavior()">
                <span>Save</span>
            </button>
        </div>
    </div>
    <div class="row voffset3" ng-show="successString !== null && errorString !== null">
        <div class="col-xs-12 col-sm-6">
            <div class="alert alert-success" role="alert">
                <p class="input-behavior-msg">{{ successString }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="alert alert-danger" role="alert">
                <p class="input-behavior-msg">{{ errorString }}</p>
            </div>
        </div>
    </div>
    <div class="row voffset3">
        <div class="col-xs-12">
            <input type="text" class="form-control" ng-model="studentSearch.text" placeholder="Filter Students">
        </div>
    </div>
    <div class="row voffset3" ng-if="filterResults.length === 0">
        <div class="col-xs-12">
            <div class="alert alert-info" role="alert">
                <span>No Matching Students</span>
            </div>
        </div>
    </div>
    <div class="row voffset3" ng-repeat="student in students | filter:studentFilter as filterResults">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel panel-default no-bottom-margin input-behavior">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a ng-href="/student/{{ student.id }}">{{ student.first_name }} {{ student.last_name }} ({{ student.student_id }})</a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info no-bottom-margin" ng-if="student.sections.length === 0">
                            <span><b>Info:</b> It looks like this student isn't enrolled in any classes for this date.</span>
                        </div>
                        <table class="table table-responsive" ng-if="student.sections.length > 0">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Behavior</th>
                                    <th>Effort</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="section in student.sections">
                                    <td>{{ section.title }}</td>
                                    <td class="input-behavior-col">
                                        <select ng-model="section.behavior.behavior_temp" ng-options="x.value as x.display for x in inputOptions"></select>
                                    </td>
                                    <td class="input-behavior-col">
                                        <select ng-model="section.behavior.effort_temp" ng-options="x.value as x.display for x in inputOptions"></select>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row voffset3">
                            <div class="col-xs-12">
                                <div class="student-behaviors-comment-header input-behavior">
                                    <h4>Comment on Today's Behavior</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row voffset3">
                            <div class="col-xs-12">
                                <textarea class="student-behaviors-comment-textarea input-behavior" ng-model="student.comment.body_temp"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
