<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li><a href="#!/manage/classes">Classes</a></li>
        <li><a href="#!/manage/teachers">Teachers</a></li>
        <li class="active"><a href="#!/manage/students">Students</a></li>
        <li><a href="#!/manage/cases">Managers</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li><a href="#!/manage/classes">Classes</a></li>
        <li><a href="#!/manage/teachers">Teachers</a></li>
        <li class="active"><a href="#!/manage/students">Students</a></li>
        <li><a href="#!/manage/cases">Managers</a></li>
    </ul>
    <div class="tab-content">
        <div id="managestudents" class="tab-pane fade in active">
            <h3 class="inlineHeading hidden-xs">Students</h3>
            <div class="taskSelection btn-group hidden-xs">
                <button id="sViewButton" type="button" class="btn btn-primary active" ng-click="changeStudentTask('view/edit')">View/Edit</button>
                <button id="sAddButton" type="button" class="btn btn-primary" ng-click="changeStudentTask('add')">Add</button>
                <button id="sDeleteButton" type="button" class="btn btn-primary" ng-click="changeStudentTask('delete')">Delete</button>
            </div>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl centerText">Students</h3>
            <div class="btn-group hidden-sm hidden-md hidden-lg hidden-xl smBtnGroup">
                <button id="sViewButton2" type="button" class="btn btn-primary active" ng-click="changeStudentTask('view/edit')">View/Edit</button>
                <button id="sAddButton2" type="button" class="btn btn-primary" ng-click="changeStudentTask('add')">Add</button>
                <button id="sDeleteButton2" type="button" class="btn btn-primary" ng-click="changeStudentTask('delete')">Delete</button>
            </div>
            <hr />
            <form ng-submit="viewStudent()" ng-show="displayStudentViewSearch">
                <div class="input-group">
                    <input type="text" autocomplete="off" class="form-control" placeholder="Search Students" list="studentsv" name="studentsv" ng-model="studentViewSearch">
                    <datalist id="studentsv">
                        <option ng-repeat="s in studentInfo.students" value="{{s.first_name}} {{s.last_name}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default tealOnGrey" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="panel-wrapper" ng-show="displayStudentForm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Student</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" name="addStudentForm" ng-submit="addStudent()">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="sid">Student ID:</label>
                                <div class="col-sm-10">
                                    <input required autocomplete="off" autocapitalize="off" type="text" class="form-control" id="sid" placeholder="Enter Student ID" name="sid" ng-model="newStudent.student_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="sfirstname">First Name:</label>
                                <div class="col-sm-10">
                                    <input required autocomplete="off" type="text" class="form-control" id="sfirstname" placeholder="Enter First Name" name="sfirstname" ng-model="newStudent.first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="slastname">Last Name:</label>
                                <div class="col-sm-10">
                                    <input required autocomplete="off" type="text" class="form-control" id="slastname" placeholder="Enter Last Name" name="slastname" ng-model="newStudent.last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="sbirthday">Birthday:</label>
                                <div class="col-sm-10">
                                    <input required autocomplete="off" type="text" date-time class="form-control" id="sbirthday" placeholder="Enter Birthday (Example: '1996-05-20')" name="sbirthday" ng-model="newStudent.birthdate" view="year" min-view="date" format="YYYY-MM-DD">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button ng-disabled="addStudentForm.$invalid" type="submit" class="btn btn-success">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-success fade in col-sm-offset-1" id="addStudentSuccess" ng-show="addStudentSuccess">
                            <strong>Success!</strong> New student has been added.
                        </div>
                        <div class="alert alert-danger fade in col-sm-offset-1" id="addStudentFailure" ng-show="addStudentFailure">
                            <strong>Failure!</strong> {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>
            <form ng-submit="displayDeleteStudent()" ng-show="displayStudentDeleteSearch">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Students" list="studentsd" name="studentsd" autocomplete="off" ng-model="studentDeleteSearch">
                    <datalist id="studentsd">
                        <option ng-repeat="s in studentInfo.students" value="{{s.first_name}} {{s.last_name}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default tealOnGrey" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row" ng-show="displayStudentInfo">
                <div class="col-sm-6">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title panel-title-with-btn">Student Info</h3>
                                <div class="pull-right heading-btn">
                                    <button ng-disabled="deleteStudentForm.$invalid" type="button" ng-click="deleteStudent()" class="btn btn-sm btn-danger">Delete</button>&nbsp;
                                    <button class="btn btn-sm btn-default" type="button" ng-click="cancelDeleteStudent()">Cancel</button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" name="deleteStudentForm" ng-submit="deleteStudent()">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="sid2">Student ID:</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static" id="sid2">{{studentD.student_id}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="sfirstname2">First Name:</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static" id="sfirstname2">{{studentD.first_name}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="slastname2">Last Name:</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static" id="slastname2">{{studentD.last_name}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="sbirthday2">Birthday:</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static" id="sbirthday2">{{studentD.birthdate}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success fade in col-sm-offset-1 col-sm-10 deleteAlert" id="deleteStudentSuccess" ng-show="deleteStudentSuccess">
                <strong>Success!</strong> Student has been deleted.
            </div>
            <div class="alert alert-danger fade in col-sm-offset-1 col-sm-10 deleteAlert" id="deleteStudentFailure" ng-show="deleteStudentFailure">
                <strong>Failure!</strong> {{errorMessage}}
            </div>
        </div>
    </div>
</div>
