<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li class="active"><a data-toggle="tab" data-target="#casemanagers" ng-click="setActivePillAndTab('casemanagers')">Managers</a></li>
        <li><a data-toggle="tab" data-target="#teachers" ng-click="setActivePillAndTab('teachers')">Teachers</a></li>
        <li><a data-toggle="tab" data-target="#students" ng-click="setActivePillAndTab('students')">Students</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li class="active"><a data-toggle="tab" data-target="#casemanagers" ng-click="setActivePillAndTab('casemanagers')">Managers</a></li>
        <li><a data-toggle="tab" data-target="#teachers" ng-click="setActivePillAndTab('teachers')">Teachers</a></li>
        <li><a data-toggle="tab" data-target="#students" ng-click="setActivePillAndTab('students')">Students</a></li>
    </ul>
    <div class="tab-content">
        <div id="casemanagers" class="tab-pane fade in active">
            <h3>Case Managers</h3>
            <hr />
        </div>
        <div id="teachers" class="tab-pane fade">
            <h3 class="inlineHeading hidden-xs">Teachers</h3>
            <div class="taskSelection btn-group hidden-xs">
                <button id="tViewButton" type="button" class="btn btn-primary active" ng-click="changeTeacherTask('view/edit')">View/Edit</button>
                <button id="tAddButton" type="button" class="btn btn-primary" ng-click="changeTeacherTask('add')">Add</button>
                <button id="tDeleteButton" type="button" class="btn btn-primary" ng-click="changeTeacherTask('delete')">Delete</button>
            </div>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl centerText">Teachers</h3>
            <div class="btn-group hidden-sm hidden-md hidden-lg hidden-xl smBtnGroup">
                <button id="tViewButton2" type="button" class="btn btn-primary active" ng-click="changeTeacherTask('view/edit')">View/Edit</button>
                <button id="tAddButton2" type="button" class="btn btn-primary" ng-click="changeTeacherTask('add')">Add</button>
                <button id="tDeleteButton2" type="button" class="btn btn-primary" ng-click="changeTeacherTask('delete')">Delete</button>
            </div>
            <hr />
            <form ng-submit="viewTeacher()" ng-show="displayTeacherViewSearch">
                <div class="input-group col-sm-offset-1 col-sm-10">
                    <input type="text" autocomplete="off" class="form-control" placeholder="Search Teachers" list="teacherv" name="teacherv" ng-model="teacherViewSearch">
                    <datalist id="teacherv">
                        <option ng-repeat="t in teachers" value="{{t.first_name}} {{t.last_name}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="editTUsernameForm" ng-show="displayTEditInfo" ng-submit="saveTEdit('username')">
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tusername">Username:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" ng-show="viewTUsername">{{teacherV.username}}&nbsp;&nbsp;&nbsp;<span ng-click="editTeacher('username')" class="glyphicon glyphicon-pencil pencilEdit"></span></p>
                        <div class="input-group" ng-hide="viewTUsername">
                            <input required autocomplete="off" type="text" class="form-control" id="tusername" placeholder="{{teacherV.username}}" name="tusername" ng-model="tUsername">
                            <div class="input-group-btn">
                                <button class="btn btn-default checkBtn" type="submit" ng-disabled="editTUsernameForm.$invalid">
                                    <i class="glyphicon glyphicon-ok green"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="cancelTEdit('username')">
                                    <i class="glyphicon glyphicon-remove red"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="editTFirstNameForm" ng-show="displayTEditInfo" ng-submit="saveTEdit('firstname')">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tfirstname">First Name:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" ng-show="viewTFirstName">{{teacherV.first_name}}&nbsp;&nbsp;&nbsp;<span ng-click="editTeacher('firstname')" class="glyphicon glyphicon-pencil pencilEdit"></span></p>
                        <div class="input-group" ng-hide="viewTFirstName">
                            <input required autocomplete="off" type="text" class="form-control" id="tfirstname" placeholder="{{teacherV.first_name}}" name="tfirstname" ng-model="tFirstName">
                            <div class="input-group-btn">
                                <button class="btn btn-default checkBtn" type="submit" ng-disabled="editTFirstNameForm.$invalid">
                                    <i class="glyphicon glyphicon-ok green"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="cancelTEdit('firstname')">
                                    <i class="glyphicon glyphicon-remove red"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="editTLastNameForm" ng-show="displayTEditInfo" ng-submit="saveTEdit('lastname')">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tlastname">Last Name:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" ng-show="viewTLastName">{{teacherV.last_name}}&nbsp;&nbsp;&nbsp;<span ng-click="editTeacher('lastname')" class="glyphicon glyphicon-pencil pencilEdit"></span></p>
                        <div class="input-group" ng-hide="viewTLastName">
                            <input required autocomplete="off" type="text" class="form-control" id="tlastname" placeholder="{{teacherV.last_name}}" name="tlastname" ng-model="tLastName">
                            <div class="input-group-btn">
                                <button class="btn btn-default checkBtn" type="submit" ng-disabled="editTLastNameForm.$invalid">
                                    <i class="glyphicon glyphicon-ok green"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="cancelTEdit('lastname')">
                                    <i class="glyphicon glyphicon-remove red"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="editTEmailForm" ng-show="displayTEditInfo" ng-submit="saveTEdit('email')">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="temail">Email:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" ng-show="viewTEmail">{{teacherV.email}}&nbsp;&nbsp;&nbsp;<span ng-click="editTeacher('email')" class="glyphicon glyphicon-pencil pencilEdit"></span></p>
                        <div class="input-group" ng-hide="viewTEmail">
                            <input required autocomplete="off" type="email" class="form-control" id="temail" placeholder="{{teacherV.email}}" name="temail" ng-model="tEmail">
                            <div class="input-group-btn">
                                <button class="btn btn-default checkBtn" type="submit" ng-disabled="editTEmailForm.$invalid">
                                    <i class="glyphicon glyphicon-ok green"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="cancelTEdit('email')">
                                    <i class="glyphicon glyphicon-remove red"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="addTeacherForm" ng-show="displayTeacherForm" ng-submit="addTeacher()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tusername2">Username:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="tusername2" placeholder="Enter Username" name="tusername2" ng-model="newTeacher.username" value="{{teacher.username}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tfirstname2">First Name:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="tfirstname2" placeholder="Enter First Name" name="tfirstname2" ng-model="newTeacher.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tlastname2">Last Name:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="tlastname2" placeholder="Enter Last Name" name="tlastname2" ng-model="newTeacher.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="temail2">Email:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="email" class="form-control" id="temail2" placeholder="Enter Email" name="temail2" ng-model="newTeacher.email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="addTeacherForm.$invalid" type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
            <div class="alert alert-success fade in col-sm-offset-1 col-sm-10" id="addTeacherSuccess" ng-show="addTeacherSuccess">
                <strong>Success!</strong> New teacher has been added.
            </div>
            <form ng-submit="displayDeleteTeacher()" ng-show="displayTeacherDeleteSearch">
                <div class="input-group col-sm-offset-1 col-sm-10">
                    <input type="text" autocomplete="off" class="form-control" placeholder="Search Teachers" list="teacherd" name="teacherd" ng-model="teacherDeleteSearch">
                    <datalist id="teacherd">
                        <option ng-repeat="t in teachers" value="{{t.first_name}} {{t.last_name}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="deleteTeacherForm" ng-show="displayTeacherInfo" ng-submit="deleteTeacher()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tusername3">Username:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="tusername3">{{teacherD.username}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tfirstname3">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="tfirstname3">{{teacherD.first_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tlastname3">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="tlastname3">{{teacherD.last_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="temail3">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="temail3">{{teacherD.email}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="deleteTeacherForm.$invalid" type="submit" class="btn btn-danger">Delete</button>
                        <button class="btn btn-default" type="button" ng-click="cancelDeleteTeacher()">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="alert alert-success fade in col-sm-offset-1 col-sm-10 deleteSuccess" id="deleteTeacherSuccess" ng-show="deleteTeacherSuccess">
                <strong>Success!</strong> Teacher has been deleted.
            </div>
        </div>
        <div id="students" class="tab-pane fade">
            <h3 class="inlineHeading hidden-xs">Students</h3>
            <div class="taskSelection btn-group hidden-xs">
                <button id="sViewButton" type="button" class="btn btn-primary active" ng-click="changeStudentTask('view/edit')">View/Edit</button>
                <button id="sAddButton" type="button" class="btn btn-primary" ng-click="changeStudentTask('add')">Add</button>
                <button id="sDeleteButton" type="button" class="btn btn-primary" ng-click="changeStudentTask('delete')">Delete</button>
            </div>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl centerText">Students</h3>
            <div class="btn-group hidden-sm hidden-md hidden-lg hidden-xl smBtnGroup">
                <button id="sViewButton2" type="button" class="btn btn-primary active" ng-click="changeStudentTask('view/edit')">View/Edit</button>
                <button id="sAddButton2" type="button" class="btn btn-primary" ng-click="changeStudentTask('add')">Add</button>
                <button id="sDeleteButton2" type="button" class="btn btn-primary" ng-click="changeStudentTask('delete')">Delete</button>
            </div>
            <hr />
            <form ng-submit="viewStudent()" ng-show="displayStudentViewSearch">
                <div class="input-group col-sm-offset-1 col-sm-10">
                    <input type="text" autocomplete="off" class="form-control" placeholder="Search Students" list="studentsv" name="studentsv" ng-model="studentViewSearch">
                    <datalist id="studentsv">
                        <option ng-repeat="s in studentInfo.students" value="{{s.first_name}} {{s.last_name}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="addStudentForm" ng-show="displayStudentForm" ng-submit="addStudent()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sid">Student ID:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="sid" placeholder="Enter Student ID" name="sid" ng-model="newStudent.student_id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sfirstname">First Name:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="sfirstname" placeholder="Enter First Name" name="sfirstname" ng-model="newStudent.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="slastname">Last Name:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="slastname" placeholder="Enter Last Name" name="slastname" ng-model="newStudent.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sbirthday">Birthday:</label>
                    <div class="col-sm-9">
                        <input required autocomplete="off" type="text" class="form-control" id="sbirthday" placeholder="Enter Birthday (Example: '1996-05-20')" name="sbirthday" ng-model="newStudent.birthdate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="addStudentForm.$invalid" type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
            <div class="alert alert-success fade in col-sm-offset-1 col-sm-10" id="addStudentSuccess" ng-show="addStudentSuccess">
                <strong>Success!</strong> New student has been added.
            </div>
            <form ng-submit="displayDeleteStudent()" ng-show="displayStudentDeleteSearch">
                <div class="input-group col-sm-offset-1 col-sm-10">
                    <input type="text" class="form-control" placeholder="Search Students" list="studentsd" name="studentsd" autocomplete="off" ng-model="studentDeleteSearch">
                    <datalist id="studentsd">
                        <option ng-repeat="s in studentInfo.students" value="{{s.first_name}} {{s.last_name}}">
                    </datalist>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="deleteStudentForm" ng-show="displayStudentInfo" ng-submit="deleteStudent()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sid2">Student ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="sid2">{{studentD.student_id}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sfirstname2">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="sfirstname2">{{studentD.first_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="slastname2">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="slastname2">{{studentD.last_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sbirthday2">Birthday:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" id="sbirthday2">{{studentD.birthdate}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="deleteStudentForm.$invalid" type="submit" class="btn btn-danger">Delete</button>
                        <button class="btn btn-default" type="button" ng-click="cancelDeleteStudent()">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="alert alert-success fade in col-sm-offset-1 col-sm-10 deleteSuccess" id="deleteStudentSuccess" ng-show="deleteStudentSuccess">
                <strong>Success!</strong> Student has been deleted.
            </div>
        </div>
    </div>
</div>
