<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li><a href="/manage/classes">Classes</a></li>
        <li><a href="/manage/teachers">Teachers</a></li>
        <li><a href="/manage/students">Students</a></li>
        <li class="active"><a href="#!/manage/cases">Managers</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li><a href="/manage/classes">Classes</a></li>
        <li><a href="/manage/teachers">Teachers</a></li>
        <li><a href="/manage/students">Students</a></li>
        <li class="active"><a href="#!/manage/cases">Managers</a></li>
    </ul>
    <div class="tab-content">
        <div id="managecases" class="tab-pane fade in active">
            <h3>Case Managers</h3>
            <hr />
        </div>
    </div>
</div>
