<div ng-include="'html/manageTabs.html'"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="manage-add" ng-if="displayTeacherViewSearch">
            <button class="btn btn-success btn-manipulate" type="button" ng-click="changeTeacherTask('add')">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="manage-add" ng-if="displayTeacherForm">
            <button class="btn btn-default btn-manipulate" type="button" ng-click="changeTeacherTask('view/edit')">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>
<div class="panel-wrapper" ng-show="displayTeacherViewSearch">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Teachers</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info no-bottom-margin" ng-show="teachers.length === 0">
                <span><b>Tip:</b> It looks like you don't have any teachers, click the <span class="glyphicon glyphicon-plus"></span> button to create one.</span>
            </div>
            <div ng-hide="teachers.length === 0">
                <input type="text" autocomplete="off" class="form-control" placeholder="Filter Teachers" list="teacherv" name="teacherv" ng-model="teacherViewSearch" ng-focus="clearTeacherViewSearch()">
                <br />
                <div class="table-responsive scrollableTableDiv table-select">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Admin</th>
                                <th class="buttonColumn"></th>
                                <th class="buttonColumn"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="teacher in teachers | filter:viewTeacherFilter | orderBy:'last_name'" ng-click="viewTeacher(teacher)" class="pointer" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" ng-class="{ 'active': teacher.pk === teacherV.pk, }">
                                <td>{{ teacher.first_name }}</td>
                                <td>{{ teacher.last_name }}</td>
                                <td>{{ teacher.email }}</td>
                                <td><span ng-if="teacher.is_superuser" class="glyphicon glyphicon-ok"></span></td>
                                <td><span ng-show="hoverEdit" class="glyphicon glyphicon-pencil pencilEdit"></span></td>
                                <td class="buttonColumn table-button-col">
                                    <button class="btn btn-danger btn-xs" type="button" ng-click="setTeacherD(teacher); $event.stopPropagation();">
                                                <i class="glyphicon glyphicon-trash white"></i>
                                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="displayTeacherViewSearch">
    <div class="col-xs-12 col-sm-8 voffset3" ng-show="displayTEditInfo">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Teacher Info</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="editTeacherForm" ng-submit="saveTEdit()">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tfirstname">First Name:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" ng-if="!teacherEdit">{{teacherV.first_name}}</p>
                                <div ng-if="teacherEdit">
                                    <input required autocomplete="off" type="text" class="form-control" id="tfirstname" name="tfirstname" ng-model="teacherE.first_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tlastname">Last Name:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" ng-if="!teacherEdit">{{teacherV.last_name}}</p>
                                <div ng-if="teacherEdit">
                                    <input required autocomplete="off" type="text" class="form-control" id="tlastname" name="tlastname" ng-model="teacherE.last_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="temail">Email:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{teacherV.email}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tadmin">Admin:</label>
                            <div class="col-sm-10">
                                <span ng-if="teacherV.is_superuser && !teacherEdit" class="form-control-static glyphicon glyphicon-ok"></span>
                                <span ng-if="!teacherV.is_superuser && !teacherEdit" class="form-control-static glyphicon glyphicon-remove form-glyph"></span>
                                <div ng-if="teacherEdit">
                                    <input type="checkbox" class="form-control-static" id="tadmin" name="tadmin" ng-model="teacherE.is_superuser">
                                </div>
                            </div>
                        </div>
                        <div class="form-group no-bottom-margin">
                            <div class="col-xs-12">
                                <div class="btn-manipulate-row" ng-if="teacherEdit">
                                    <button class="btn btn-success" type="submit" ng-disabled="editTeacherForm.$invalid">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="toggleTeacherEdit()">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="btn-manipulate-row">
                        <button ng-disabled="user.email === teacherV.email" class="btn btn-primary" ng-if="!teacherEdit" ng-click="toggleTeacherEdit()">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 voffset3" ng-show="displayTEditInfo">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Classes Taught</h3>
                </div>
                <div class="panel-body" ng-show="sections.length === 0">
                    <div class="alert alert-info no-bottom-margin" ng-show="sections.length === 0">
                        <span><b>Info:</b> It looks like this teacher doesn't have any classes</span>
                    </div>
                </div>
                <div class="manage-teachers-border-table table-responsive" ng-hide="sections.length === 0">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="section in sections | orderBy:'title'">
                                <td>&nbsp;&nbsp;{{ section.title }}</td>
                                <td ng-if="section.schedule_position == null"></td>
                                <td ng-if="section.schedule_position != null">&nbsp;&nbsp;{{ currentTermPeriods[section.schedule_position] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-wrapper" ng-show="displayTeacherForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Teacher</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="addTeacherForm" ng-submit="addTeacher()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tfirstname2">First Name:</label>
                    <div class="col-sm-10">
                        <input required autocomplete="off" type="text" class="form-control" id="tfirstname2" placeholder="Enter First Name" name="tfirstname2" ng-model="newTeacher.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="tlastname2">Last Name:</label>
                    <div class="col-sm-10">
                        <input required autocomplete="off" type="text" class="form-control" id="tlastname2" placeholder="Enter Last Name" name="tlastname2" ng-model="newTeacher.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="temail2">Email:</label>
                    <div class="col-sm-10">
                        <input required autocomplete="off" autocapitalize="off" type="email" class="form-control" id="temail2" placeholder="Enter Email" name="temail2" ng-model="newTeacher.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="newTeacher.is_superuser"> Admin</label>
                        </div>
                    </div>
                </div>
                <div class="form-group no-bottom-margin">
                    <div class="col-xs-12">
                        <div class="btn-manipulate-row">
                            <button ng-disabled="addTeacherForm.$invalid" type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteTeacherModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header grey modal-wrapper">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete this teacher?</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="deleteTeacherForm" ng-submit="deleteTeacher()">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="tname">Name:</label>
                        <div class="col-sm-8">
                            <p class="form-control-static" id="tname">{{teacherD.first_name}} {{teacherD.last_name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="temail3">Email:</label>
                        <div class="col-sm-8">
                            <p class="form-control-static" id="temail3">{{teacherD.email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="tadmin3">Admin:</label>
                        <div class="col-sm-8">
                            <span ng-if="teacherD.is_superuser" class="form-control-static glyphicon glyphicon-ok"></span>
                            <span ng-if="!teacherD.is_superuser" class="form-control-static glyphicon glyphicon-remove form-glyph"></span>
                        </div>
                    </div>
                </form>
                <div class="alert alert-warning">
                    <span><b>Warning:</b> This can't be undone.</span>
                </div>
                <div class="voffset4">
                </div>
                <div class="btn-manipulate-row">
                    <button ng-disabled="user.email === teacherD.email" class="btn btn-danger" data-dismiss="modal" ng-click="deleteTeacher()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
