<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li class="active"><a data-toggle="tab" href="#!/managecases">Managers</a></li>
        <li><a data-toggle="tab" href="#!/manageteachers">Teachers</a></li>
        <li><a data-toggle="tab" href="#!/managestudents">Students</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li class="active"><a data-toggle="tab" href="#!/managecases">Managers</a></li>
        <li><a data-toggle="tab" href="#!/manageteachers">Teachers</a></li>
        <li><a data-toggle="tab" href="#!/managestudents">Students</a></li>
    </ul>
    <div class="tab-content">
        <div id="managecases" class="tab-pane fade in active">
            <h3>Case Managers</h3>
            <hr />
        </div>
    </div>
</div>
