<div class="row voffset3">
    <div class="col-xs-12">
        <h3 id="notifications-title" class="inlineHeading">Notifications</h4>
        <button class="btn btn-danger btn-glyphicon pull-right" ng-show="notifications.length !== 0" ng-click="markAsRead(null, 'all')">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="btn-text">Dismiss All</span>
        </button>
    </div>
</div>
<hr>
<div class="row" ng-show="notifications.length === 0">
    <div class="col-xs-12">
        <div class="panel-wrapper notifications-none">
            <div class="panel panel-default notifications-panel">
                <div class="panel-body">
                    <div class="notifications-content">
                        <div class="notifications-content-cell">
                            <i class="fas fa-2x fa-thumbs-up notifications-content-icon"></i>
                        </div>
                        <div class="notifications-content-cell">
                            <h4>You're all caught up!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-xs">
    <div class="col-xs-12" ng-repeat="notification in singleColumn">
        <div class="panel-wrapper notifications-birthday">
            <div class="panel panel-default notifications-panel" ng-click="navigate(notification)">
                <div class="panel-body">
                    <button class="btn btn-default notifications-remove-icon" ng-click="markAsRead(notification);$event.stopPropagation();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <div class="notifications-content">
                        <div class="notifications-content-cell">
                            <i class="fas fa-2x fa-birthday-cake notifications-content-icon"></i>
                        </div>
                        <div class="notifications-content-cell">
                            <h5>{{ notification.title }}</h5>
                            <p>{{ notification.body }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row hidden-xs hidden-lg">
    <div class="col-xs-6" ng-repeat="column in doubleColumn">
        <div class="col-xs-12 no-padding" ng-repeat="notification in column track by notification.id">
            <div class="panel-wrapper notifications-birthday">
                <div class="panel panel-default notifications-panel" ng-click="navigate(notification)">
                    <div class="panel-body">
                        <button class="btn btn-default notifications-remove-icon" ng-click="markAsRead(notification);$event.stopPropagation();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <div class="notifications-content">
                            <div class="notifications-content-cell">
                                <i class="fas fa-2x fa-birthday-cake notifications-content-icon"></i>
                            </div>
                            <div class="notifications-content-cell">
                                <h5>{{ notification.title }}</h5>
                                <p>{{ notification.body }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-lg">
    <div class="col-xs-4" ng-repeat="column in tripleColumn">
        <div class="col-md-12 no-padding" ng-repeat="notification in column">
            <div class="panel-wrapper notifications-birthday">
                <div class="panel panel-default notifications-panel" ng-click="navigate(notification)">
                    <div class="panel-body">
                        <button class="btn btn-default notifications-remove-icon" ng-click="markAsRead(notification);$event.stopPropagation();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <div class="notifications-content">
                            <div class="notifications-content-cell">
                                <i class="fas fa-2x fa-birthday-cake notifications-content-icon"></i>
                            </div>
                            <div class="notifications-content-cell">
                                <h5>{{ notification.title }}</h5>
                                <p>{{ notification.body }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
