<div id="login-container">
    <div id="login-background-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="login-box">
                        <div id="login-logo-container">
                            <img id="login-logo" src="img/logo/svg/white_logo_transparent.svg">
                        </div>
                        <div class="voffset4">
                            <div class="alert alert-info" role="alert">
                                <span>Enter a new password below</span>
                            </div>
                        </div>
                        <form class="voffset2" action="" ng-submit="attemptConfirmNewPassword($event);">
                            <div class="input-group">
                                <span id="login-top-label" class="input-group-addon border-bottom-flat password-confirm">new password</span>
                                <input id="login-top-input" type="password" class="form-control border-bottom-flat" ng-model="password1" autofocus/>
                            </div>
                            <div id="login-input-group-bottom" class="input-group">
                                <span id="login-bottom-label" class="input-group-addon border-top-flat password-confirm">retype password</span>
                                <input id="login-bottom-input" type="password" class="form-control border-top-flat" ng-model="password2"/>
                                <span class="input-group-btn">
                                    <button id="login-form-btn" type="submit" class="btn btn-default border-top-flat">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <div class="row voffset2">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <a class="login-link" href="/login">Go to Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="ng-fade voffset3" ng-repeat="message in errors">
                            <div class="alert alert-danger no-bottom-margin" role="alert">
                                <span><b>Error:</b> {{ message }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
