<div ng-include="'html/profileTabs.html'"></div>
<div class="row voffset4">
    <div class="col-xs-12">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">All My Students</h4>
                </div>
                <div class="panel-body">
                    <h4 class="centerText" ng-show="studentsLookup === {}">No Other Students</h4>
                    <div ng-show="studentsLookup !== {}">
                        <input type="text" autocomplete="off" class="form-control" placeholder="Filter Students" name="studentSearch" list="studentSearch" ng-model="studentSearch.text">
                        <div class="table-responsive scrollableTableDiv table-select voffset3">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Student ID</th>
                                        <th>Birthday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="student in students | orderBy:'last_name' | filter:studentFilter as filterResults" ng-click="location.path('/student/' + student.id)">
                                        <td>{{ student.first_name }}</td>
                                        <td>{{ student.last_name }}</td>
                                        <td>{{ student.student_id }}</td>
                                        <td>{{ student.birthdate }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 visible-lg" ng-repeat="column in tripleColumn">
        <div class="col-xs-12 no-padding" ng-repeat="section in column">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ section.title }}</h4>
                    </div>
                    <div class="list-group list-group-select">
                        <a class="list-group-item" href="/student/{{ student.id }}" ng-repeat="student in section.students">
                            <span>{{ student.first_name }} {{ student.last_name }}</span>
                            <span class="pull-right">{{ student.student_id }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 hidden-xs hidden-lg" ng-repeat="column in doubleColumn">
        <div class="col-xs-12 no-padding" ng-repeat="section in column">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ section.title }}</h4>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="/student/{{ student.id }}" ng-repeat="student in section.students">
                            <span>{{ student.first_name }} {{ student.last_name }}</span>
                            <span class="pull-right">{{ student.student_id }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 visible-xs" ng-repeat="section in singleColumn">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ section.title }}</h4>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="/student/{{ student.id }}" ng-repeat="student in section.students">
                        <span>{{ student.first_name }} {{ student.last_name }}</span>
                        <span class="pull-right">{{ student.student_id }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
