<div ng-include="'html/profileTabs.html'"></div>
<div class="row">
    <div class="col-xs-12">
        <button ng-if="!editing" ng-click="toggleEdit()" class="btn btn-primary pull-right focus-top-button" type="button">Choose Students</button>
        <button ng-if="editing" ng-click="toggleEdit()" class="btn btn-danger pull-right focus-top-button" type="button">Stop</button>
    </div>
</div>
<div class="row voffset3" ng-if="focusStudents.length === 0 && !editing">
    <div class="col-xs-12">
        <div class="alert alert-info no-bottom-margin" role="alert">
            <span><b>Tip:</b> It looks like you don't have any Focus Students. Click the "Choose Students" button to select one.</span>
        </div>
    </div>
</div>
<div class="sortable voffset3" ui-sortable="sortableOptions" ng-model="focusStudents">
    <div class="row focus-student-row" ng-repeat="focusStudent in focusStudents" ng-class="{ 'not-sortable': !editing, }" ng-cloak>
        <div class="col-xs-12">
            <div ng-class="{ 'focus-student-panel-editing': editing, }">
                <div class="panel-wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-link" ng-click="editing ? noop() : location.path('/student/' + focusStudent.student)">
                            <h4 class="panel-title big">
                                {{ studentsLookup[focusStudent.student].first_name }} {{ studentsLookup[focusStudent.student].last_name }}
                            </h4>
                            <div class="focus-delete-group" ng-if="editing">
                                <button class="btn btn-danger btn-manipulate" type="button" ng-click="removeFocusStudent(focusStudent)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>
                        <div id="collapse-{{ $index }}" class="panel-collapse collapse" ng-class="{ 'in': !editing, }">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4 centerText">
                                        <div id="focus-student-select" class="input-group">
                                            <span class="input-group-addon focus-category">
                                                <div class="focus-student-table">
                                                    <div class="focus-student-cell"><span class="glyphicon glyphicon-heart"></span></div>
                                                    <div class="focus-student-cell"><span>Focus</span></div>
                                                </div>
                                            </span>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    {{ focusStudent.focus_graph.category.displayName }} <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li ng-repeat="entry in focusCategories" 
                                                        ng-click="selectFocusCategory(focusStudent, entry)" 
                                                        ng-if="shouldDisplayDropdownOption(entry, focusStudent)"
                                                        ng-class="{ 'active': entry.uniqueId === focusStudent.focus_graph.category.uniqueId, }">
                                                        <a class="focus-student-assign-link">
                                                            <span>{{ entry.displayName }}  </span>
                                                            <span ng-if="entry.uniqueId === focusStudent.focus_graph.category.uniqueId" class="glyphicon glyphicon-ok"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a ng-href="/student/{{ focusStudent.student }}{{ focusStudent.focus_graph.category.href }}">
                                            <div class="col-sm-12 focus-graph">
                                                <canvas class="chart chart-line"
                                                        chart-data="focusStudent.focus_graph.data"
                                                        chart-series="focusStudent.focus_graph.series"
                                                        chart-labels="focusStudent.focus_graph.labels"
                                                        chart-options="focusStudent.focus_graph.options"
                                                        chart-dataset-override="focusStudent.focus_graph.datasetOverride"
                                                        chart-colors="graphColors.focus">
                                                </canvas>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4 centerText">
                                        <div id="focus-student-select" class="input-group">
                                            <span class="input-group-addon progress-category">
                                                <div class="focus-student-table">
                                                    <div class="focus-student-cell"><span class="glyphicon glyphicon-fire"></span></div>
                                                    <div class="focus-student-cell"><span>Progress</span></div>
                                                </div>
                                            </span>
                                            <div class="input-group-btn fake-btn">
                                                <span class="input-group-text" ng-if="!focusStudent.progress_graph.emptyGraph">{{ focusStudent.progress_graph.category.displayName }}</span>
                                                <span class="input-group-text" ng-if="focusStudent.progress_graph.emptyGraph">Insufficient Data</span>
                                            </div>
                                        </div>
                                        <a ng-href="/student/{{ focusStudent.student }}{{ focusStudent.progress_graph.category.href }}" ng-if="!focusStudent.progress_graph.emptyGraph">
                                            <div class="col-sm-12 focus-graph">
                                                <canvas class="chart chart-line"
                                                        chart-data="focusStudent.progress_graph.data"
                                                        chart-series="focusStudent.progress_graph.series"
                                                        chart-labels="focusStudent.progress_graph.labels"
                                                        chart-options="focusStudent.progress_graph.options"
                                                        chart-dataset-override="focusStudent.progress_graph.datasetOverride"
                                                        chart-colors="graphColors.progress">
                                                </canvas>
                                            </div>
                                        </a>
                                        <div class="focus-student-empty-graph progress" ng-if="focusStudent.progress_graph.emptyGraph">
                                            <h4>{{ emptyGraphString }}</h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 centerText">
                                        <div id="focus-student-select" class="input-group">
                                            <span class="input-group-addon caution-category">
                                                <div class="focus-student-table">
                                                    <div class="focus-student-cell"><span class="glyphicon glyphicon-alert"></span></div>
                                                    <div class="focus-student-cell"><span>Caution</span></div>
                                                </div>
                                            </span>
                                            <div class="input-group-btn fake-btn">
                                                <span class="input-group-text" ng-if="!focusStudent.caution_graph.emptyGraph">{{ focusStudent.caution_graph.category.displayName }}</span>
                                                <span class="input-group-text" ng-if="focusStudent.caution_graph.emptyGraph">Insufficient Data</span>
                                            </div>
                                        </div>
                                        <a ng-href="/student/{{ focusStudent.student }}{{ focusStudent.caution_graph.category.href }}" ng-if="!focusStudent.caution_graph.emptyGraph">
                                            <div class="col-sm-12 focus-graph">
                                                <canvas class="chart chart-line"
                                                        chart-data="focusStudent.caution_graph.data"
                                                        chart-series="focusStudent.caution_graph.series"
                                                        chart-labels="focusStudent.caution_graph.labels"
                                                        chart-options="focusStudent.caution_graph.options"
                                                        chart-dataset-override="focusStudent.caution_graph.datasetOverride"
                                                        chart-colors="graphColors.caution">
                                                </canvas>
                                            </div>
                                        </a>
                                        <div class="focus-student-empty-graph caution" ng-if="focusStudent.caution_graph.emptyGraph">
                                            <h4>{{ emptyGraphString }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-manipulate-row-bottom" ng-if="editing && focusStudents.length < 5 && !adding">
    <button class="btn btn-success btn-manipulate" type="button" data-toggle="tooltip" title="Add Focus Student" ng-click="toggleAdd(true)">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>
<div class="row voffset4" ng-if="editing && focusStudents.length < 5">
    <div class="col-xs-12">
        <div class="panel-wrapper" ng-show="adding">
            <div class="panel panel-default no-bottom-margin">
                <div class="panel-heading">
                    <h4 class="panel-title">Add Student</h4>
                    <button type="button" class="btn btn-danger panel-header-btn pull-right" ng-click="toggleAdd(false)">Cancel</button>
                </div>
                <div class="panel-body">
                    <h4 class="centerText" ng-show="students.length === focusStudents.length">No Other Students</h4>
                    <div ng-show="students.length !== focusStudents.length">
                        <input type="text" autocomplete="off" class="form-control" placeholder="Filter Students" name="studentSearch" list="studentSearch" ng-model="studentSearch.text">
                        <div class="table-responsive scrollableTableDiv table-add voffset3">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Student ID</th>
                                        <th>Birthday</th>
                                        <th class="buttonColumn"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="student in students | filter:studentFilter as filterResults" ng-click="addStudent(student)">
                                        <td>{{ student.first_name }}</td>
                                        <td>{{ student.last_name }}</td>
                                        <td>{{ student.student_id }}</td>
                                        <td>{{ student.birthdate }}</td>
                                        <td class="buttonColumn table-button-col">
                                            <button class="btn btn-success btn-xs" type="button">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row voffset4" ng-if="editing">
    <div class="col-xs-12">
        <div class="alert alert-info">
            <span><b>Tip:</b> You can reorder your focus students by dragging and dropping.</span>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
