<div ng-include="'html/settingsTabs.html'"></div>
<div class="tab-content">
    <div id="school" class="tab-pane fade in active">
        <h3 class="inlineHeading hidden-xs">School Settings</h3>
        <hr />
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">School Terms</h3>
                </div>
                <div class="panel-body">
                    <h4 class="centerText" ng-show="terms.length === 0">No Terms</h4>
                    <div ng-hide="terms.length === 0">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Holidays and Breaks</h3>
                </div>
                <div class="panel-body">
                    <h4 class="centerText" ng-show="holidays.length === 0">No Holidays</h4>
                    <div class="table-responsive scrollableTableDiv table-select-default table-above-add" ng-if="holidays.length !== 0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Begins</th>
                                    <th>Ends</th>
                                    <th class="text-button-column"></th>
                                    <th class="text-button-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" id="holiday-row{{$index}}" ng-repeat="holiday in holidays | orderBy:'start_date'" ng-click="edit($index, 'holiday')">
                                    <td ng-hide="editHolidays[$index]">{{ holiday.name }}</td>
                                    <td ng-hide="editHolidays[$index]">{{ holiday.start_date }}</td>
                                    <td ng-hide="editHolidays[$index]">{{ holiday.end_date }}</td>
                                    <td ng-hide="editHolidays[$index]"></td>
                                    <td ng-show="editHolidays[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eHolidays[holiday.id].name"></td>
                                    <td ng-show="editHolidays[$index]"><input autocomplete="off" type="text" date-time class="form-control" ng-model="eHolidays[holiday.id].start_date" view="year" min-view="date" format="YYYY-MM-DD"></td>
                                    <td ng-show="editHolidays[$index]"><input autocomplete="off" type="text" date-time class="form-control" ng-model="eHolidays[holiday.id].end_date" view="year" min-view="date" format="YYYY-MM-DD"></td>
                                    <td ng-show="editHolidays[$index]">
                                        <button class="btn btn-success" type="button" ng-click="updateHoliday(holiday.id, $index); $event.stopPropagation();">
                                            Save
                                        </button>
                                    </td>
                                    <td ng-show="editHolidays[$index]">
                                        <button class="btn btn-default" type="button" ng-click="cancelEdit($index, 'holiday'); $event.stopPropagation();">
                                            Cancel
                                        </button>
                                    </td>
                                    <td ng-hide="editHolidays[$index]">
                                        <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="setItem(holiday, 'holiday'); $event.stopPropagation();">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default panel-add pointer no-bottom-margin">
                        <div class="panel-heading">
                            <h4 class="panel-title centerText">
                                <span class="glyphicon glyphicon-plus blackish"></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">School Standardized Tests</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive scrollableTableDiv table-select-default table-above-add" ng-if="tests.length !== 0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Min Score</th>
                                    <th>Max Score</th>
                                    <th class="text-button-column"></th>
                                    <th class="text-button-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" id="test-row{{$index}}" ng-repeat="test in tests | orderBy:'test_name'" ng-click="edit($index, 'test')">
                                    <td ng-hide="editTests[$index]">{{ test.test_name }}</td>
                                    <td ng-hide="editTests[$index]">{{ test.min_score }}</td>
                                    <td ng-hide="editTests[$index]">{{ test.max_score }}</td>
                                    <td ng-hide="editTests[$index]"></td>
                                    <td ng-show="editTests[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eTests[test.id].test_name"></td>
                                    <td ng-show="editTests[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eTests[test.id].min_score"></td>
                                    <td ng-show="editTests[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eTests[test.id].max_score"></td>
                                    <td ng-show="editTests[$index]">
                                        <button class="btn btn-success" type="button" ng-click="updateTest(test.id, $index); $event.stopPropagation();">
                                            Save
                                        </button>
                                    </td>
                                    <td ng-show="editTests[$index]">
                                        <button class="btn btn-default" type="button" ng-click="cancelEdit($index, 'test'); $event.stopPropagation();">
                                            Cancel
                                        </button>
                                    </td>
                                    <td ng-hide="editTests[$index]">
                                        <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="setItem(test, 'test'); $event.stopPropagation();">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default panel-add pointer no-bottom-margin">
                        <div class="panel-heading">
                            <h4 class="panel-title centerText">
                                <span class="glyphicon glyphicon-plus blackish"></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteItemModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header grey modal-wrapper">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to delete this {{ itemType }}?</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-if="itemType === 'holiday'" class="form-horizontal" name="deleteHolidayForm">
                            <div class="form-group" ng-repeat="property in item">
                                <label class="control-label col-sm-4">{{ property.title }}:</label>
                                <p class="form-control-static col-sm-8">{{ property.value }}</p>
                            </div>
                        </form>
                        <form ng-if="itemType === 'test'" class="form-horizontal" name="deleteTestForm">
                            <div class="form-group" ng-repeat="property in item">
                                <label class="control-label col-sm-4">{{ property.title }}:</label>
                                <p class="form-control-static col-sm-8">{{ property.value }}</p>
                            </div>
                        </form>
                        <form ng-if="itemType === 'term'" class="form-horizontal" name="deleteTermForm">
                            <div class="form-group" ng-repeat="property in item">
                                <label class="control-label col-sm-4">{{ property.title }}:</label>
                                <p class="form-control-static col-sm-8">{{ property.value }}</p>
                            </div>
                        </form>
                        <div class="alert alert-warning">
                            <span><b>Warning:</b> This can't be undone.</span>
                        </div>
                    </div>
                    <div class="modal-footer grey">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="deleteItem(itemId, itemType)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
