<div ng-include="'html/settingsTabs.html'"></div>
<div class="tab-content">
    <div id="school" class="tab-pane fade in active">
        <h3 class="inlineHeading hidden-xs">School Settings</h3>
        <hr />
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">School Terms</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive scrollableTableDiv table-select-default table-above-add" ng-if="terms.length !== 0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Begins</th>
                                    <th>Ends</th>
                                    <th class="text-button-column"></th>
                                    <th class="text-button-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" id="term-row{{$index}}" ng-repeat="term in terms | orderBy:'start_date'" ng-click="edit($index, 'term')">
                                    <td ng-hide="editTerms[$index]">{{ term.name }}</td>
                                    <td ng-hide="editTerms[$index]">{{ term.start_date }}</td>
                                    <td ng-hide="editTerms[$index]">{{ term.end_date }}</td>
                                    <td ng-hide="editTerms[$index]"></td>
                                    <td ng-show="editTerms[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eTerms[term.id].name"></td>
                                    <td ng-show="editTerms[$index]"><input autocomplete="off" type="text" date-time class="form-control" ng-model="eTerms[term.id].start_date" view="year" min-view="date" format="YYYY-MM-DD"></td>
                                    <td ng-show="editTerms[$index]"><input autocomplete="off" type="text" date-time class="form-control" ng-model="eTerms[term.id].end_date" view="year" min-view="date" format="YYYY-MM-DD"></td>
                                    <td ng-show="editTerms[$index]">
                                        <button class="btn btn-success" type="button" ng-click="updateTerm(term.id, $index); $event.stopPropagation();">
                                            Save
                                        </button>
                                    </td>
                                    <td ng-show="editTerms[$index]">
                                        <button class="btn btn-default" type="button" ng-click="cancelEdit($index, 'term'); $event.stopPropagation();">
                                            Cancel
                                        </button>
                                    </td>
                                    <td ng-hide="editTerms[$index]">
                                        <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="setItem(term, 'term'); $event.stopPropagation();">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default panel-add pointer no-bottom-margin" ng-hide="displayTermForm" ng-click="displayTermForm = true">
                        <div class="panel-heading">
                            <h4 class="panel-title centerText">
                                <span class="glyphicon glyphicon-plus blackish"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="panel-wrapper" ng-show="displayTermForm">
                        <div class="panel panel-default no-bottom-margin">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Term</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" name="addTermForm" ng-submit="addTerm()">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Name:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" autocapitalize="off" type="text" class="form-control" placeholder="Enter Term Name" ng-model="newTerm.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Begins:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" type="text" date-time class="form-control" ng-model="newTerm.start_date" view="year" min-view="date" format="YYYY-MM-DD">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Ends:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" type="text" date-time class="form-control" ng-model="newTerm.end_date" view="year" min-view="date" format="YYYY-MM-DD">
                                        </div>
                                    </div>
                                    <div class="form-group no-bottom-margin">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button ng-disabled="addTermForm.$invalid" type="submit" class="btn btn-success">Add</button>&nbsp;
                                            <button type="button" class="btn btn-default" ng-click="displayTermForm = false">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Holidays and Breaks</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive scrollableTableDiv table-select-default table-above-add" ng-if="holidays.length !== 0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Begins</th>
                                    <th>Ends</th>
                                    <th class="text-button-column"></th>
                                    <th class="text-button-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" id="holiday-row{{$index}}" ng-repeat="holiday in holidays | orderBy:'start_date'" ng-click="edit($index, 'holiday')">
                                    <td ng-hide="editHolidays[$index]">{{ holiday.name }}</td>
                                    <td ng-hide="editHolidays[$index]">{{ holiday.start_date }}</td>
                                    <td ng-hide="editHolidays[$index]">{{ holiday.end_date }}</td>
                                    <td ng-hide="editHolidays[$index]"></td>
                                    <td ng-show="editHolidays[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eHolidays[holiday.id].name"></td>
                                    <td ng-show="editHolidays[$index]"><input autocomplete="off" type="text" date-time class="form-control" ng-model="eHolidays[holiday.id].start_date" view="year" min-view="date" format="YYYY-MM-DD"></td>
                                    <td ng-show="editHolidays[$index]"><input autocomplete="off" type="text" date-time class="form-control" ng-model="eHolidays[holiday.id].end_date" view="year" min-view="date" format="YYYY-MM-DD"></td>
                                    <td ng-show="editHolidays[$index]">
                                        <button class="btn btn-success" type="button" ng-click="updateHoliday(holiday.id, $index); $event.stopPropagation();">
                                            Save
                                        </button>
                                    </td>
                                    <td ng-show="editHolidays[$index]">
                                        <button class="btn btn-default" type="button" ng-click="cancelEdit($index, 'holiday'); $event.stopPropagation();">
                                            Cancel
                                        </button>
                                    </td>
                                    <td ng-hide="editHolidays[$index]">
                                        <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="setItem(holiday, 'holiday'); $event.stopPropagation();">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default panel-add pointer no-bottom-margin" ng-hide="displayHolidayForm" ng-click="displayHolidayForm = true">
                        <div class="panel-heading">
                            <h4 class="panel-title centerText">
                                <span class="glyphicon glyphicon-plus blackish"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="panel-wrapper" ng-show="displayHolidayForm">
                        <div class="panel panel-default no-bottom-margin">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Holiday</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" name="addHolidayForm" ng-submit="addHoliday()">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Name:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" autocapitalize="off" type="text" class="form-control" placeholder="Enter Holiday/Break Name" ng-model="newHoliday.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Begins:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" type="text" date-time class="form-control" ng-model="newHoliday.start_date" view="year" min-view="date" format="YYYY-MM-DD">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Ends:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" type="text" date-time class="form-control" ng-model="newHoliday.end_date" view="year" min-view="date" format="YYYY-MM-DD">
                                        </div>
                                    </div>
                                    <div class="form-group no-bottom-margin">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button ng-disabled="addHolidayForm.$invalid" type="submit" class="btn btn-success">Add</button>&nbsp;
                                            <button type="button" class="btn btn-default" ng-click="displayHolidayForm = false">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">School Standardized Tests</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive scrollableTableDiv table-select-default table-above-add" ng-if="tests.length !== 0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Min Score</th>
                                    <th>Max Score</th>
                                    <th class="text-button-column"></th>
                                    <th class="text-button-column"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" id="test-row{{$index}}" ng-repeat="test in tests | orderBy:'test_name'" ng-click="edit($index, 'test')">
                                    <td ng-hide="editTests[$index]">{{ test.test_name }}</td>
                                    <td ng-hide="editTests[$index]">{{ test.min_score }}</td>
                                    <td ng-hide="editTests[$index]">{{ test.max_score }}</td>
                                    <td ng-hide="editTests[$index]"></td>
                                    <td ng-show="editTests[$index]"><input autocomplete="off" autocapitalize="off" type="text" class="form-control" ng-model="eTests[test.id].test_name"></td>
                                    <td ng-show="editTests[$index]"><input autocomplete="off" autocapitalize="off" type="number" class="form-control" ng-model="eTests[test.id].min_score"></td>
                                    <td ng-show="editTests[$index]"><input autocomplete="off" autocapitalize="off" type="number" class="form-control" ng-model="eTests[test.id].max_score"></td>
                                    <td ng-show="editTests[$index]">
                                        <button class="btn btn-success" type="button" ng-click="updateTest(test.id, $index); $event.stopPropagation();">
                                            Save
                                        </button>
                                    </td>
                                    <td ng-show="editTests[$index]">
                                        <button class="btn btn-default" type="button" ng-click="cancelEdit($index, 'test'); $event.stopPropagation();">
                                            Cancel
                                        </button>
                                    </td>
                                    <td ng-hide="editTests[$index]">
                                        <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="setItem(test, 'test'); $event.stopPropagation();">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default panel-add pointer no-bottom-margin" ng-hide="displayTestForm" ng-click="displayTestForm = true">
                        <div class="panel-heading">
                            <h4 class="panel-title centerText">
                                <span class="glyphicon glyphicon-plus blackish"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="panel-wrapper" ng-show="displayTestForm">
                        <div class="panel panel-default no-bottom-margin">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Test</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" name="addTestForm" ng-submit="addTest()">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Name:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" autocapitalize="off" type="text" class="form-control" placeholder="Enter Test Name" ng-model="newTest.test_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Min Score:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" autocapitalize="off" type="number" class="form-control" placeholder="Enter Minimum Score" ng-model="newTest.min_score">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Max Score:</label>
                                        <div class="col-sm-10">
                                            <input required autocomplete="off" autocapitalize="off" type="number" class="form-control" placeholder="Enter Maximum Score" ng-model="newTest.max_score">
                                        </div>
                                    </div>
                                    <div class="form-group no-bottom-margin">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button ng-disabled="addTestForm.$invalid" type="submit" class="btn btn-success">Add</button>&nbsp;
                                            <button type="button" class="btn btn-default" ng-click="displayTestForm = false">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteItemModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header grey modal-wrapper">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to delete this {{ itemType }}?</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-if="itemType === 'holiday'" class="form-horizontal" name="deleteHolidayForm">
                            <div class="form-group" ng-repeat="property in item">
                                <label class="control-label col-sm-4">{{ property.title }}:</label>
                                <p class="form-control-static col-sm-8">{{ property.value }}</p>
                            </div>
                        </form>
                        <form ng-if="itemType === 'test'" class="form-horizontal" name="deleteTestForm">
                            <div class="form-group" ng-repeat="property in item">
                                <label class="control-label col-sm-4">{{ property.title }}:</label>
                                <p class="form-control-static col-sm-8">{{ property.value }}</p>
                            </div>
                        </form>
                        <form ng-if="itemType === 'term'" class="form-horizontal" name="deleteTermForm">
                            <div class="form-group" ng-repeat="property in item">
                                <label class="control-label col-sm-4">{{ property.title }}:</label>
                                <p class="form-control-static col-sm-8">{{ property.value }}</p>
                            </div>
                        </form>
                        <div class="alert alert-warning">
                            <span><b>Warning:</b> This can't be undone.</span>
                        </div>
                    </div>
                    <div class="modal-footer grey">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-click="deleteItem(itemId, itemType)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
