<div ng-include="'html/reportsTabs.html'"></div>
<div class="row">
    <div class="col-xs-12">
        <div id="student-ieps-select-manipulate">
            <button type="button" ng-disabled="students.length === 0" ng-click="downloadReport()" class="btn btn-primary">Download Report</button>
        </div>
        <div id="test-select" class="select-full-width input-group">
            <span class="input-group-addon">Service</span>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{ 'disabled': selectedService === null, }">
                    <span>{{ selectedService.name }} </span>
                    <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="entry in serviceOptions" ng-click="selectService(entry)" ng-class="{ 'active': entry.type === selectedService.type, }">
                        <a>{{ entry.name }}  <span ng-if="entry.type === selectedService.type" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel-wrapper voffset3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Fulfilled</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info no-bottom-margin" ng-if="fulfilledStudents.length === 0">
                <span><b>Info:</b> It looks like there aren't any students with a fulfilled service requirement of this type.</span>
            </div>
            <div ng-if="fulfilledStudents.length > 0">
                <input type="text" autocomplete="off" class="form-control" placeholder="Filter Students" list="fulfilled" name="fulfilled" ng-model="fulfilledSearch.text">
                </br>
                <div class="table-responsive scrollableTableDiv table-select">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Student ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in fulfilledStudents | filter:fulfilledFilter | orderBy:'last_name'" ng-click="viewStudent(student.id)">
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.student_id }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-wrapper voffset3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Unfulfilled</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info no-bottom-margin" ng-if="unfulfilledStudents.length === 0">
                <span><b>Info:</b> It looks like there aren't any students with an unfulfilled service requirement of this type.</span>
            </div>
            <div ng-if="unfulfilledStudents.length > 0">
                <input type="text" autocomplete="off" class="form-control" placeholder="Filter Students" list="unfulfilled" name="unfulfilled" ng-model="unfulfilledSearch.text">
                </br>
                <div class="table-responsive scrollableTableDiv table-select">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Student ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in unfulfilledStudents | filter:unfulfilledFilter | orderBy:'last_name'" ng-click="viewStudent(student.id)">
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.student_id }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
