<div ng-include="'html/studentTabs.html'"></div>
<div class="voffset4">
    <div id="student-ieps-select-manipulate">
        <button class="btn btn-success btn-manipulate" type="button" ng-click="toggleAddIep(true)">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div id="student-ieps-select" class="input-group">
        <div class="full-width" ng-show="ieps.length > 0">
            <span class="input-group-addon">IEP Goal</span>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selectedIep.title }} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="entry in ieps" ng-click="selectIep(entry)" ng-class="{ 'active': entry.id === selectedIep.id, }">
                        <a class="student-overview-assign-link">{{ entry.title }}  <span ng-if="entry.id === selectedIep.id" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row voffset4" ng-if="ieps.length === 0 && !addingIep">
    <div class="col-xs-12">
        <div class="alert alert-info" role="alert">
            <span><b>Tip:</b> It looks like you don't have any IEPs. Click the <span class="glyphicon glyphicon-plus"></span> button to create one.</span>
        </div>
    </div>
</div>
<div class="voffset4" ng-repeat="iep in ieps" ng-if="iep.id === selectedIep.id" ng-cloak>
    <!-- info -->
    <div class="row voffset3">
        <div class="col-xs-12">
            <div id="student-ieps-edit-form" class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">IEP Info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form class="form-horizontal" name="editIepForm{{$index}}" ng-submit="saveIep(iep)">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Title: </label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" ng-if="!iep.editing">{{ iep.title }}</p>
                                        <div ng-if="iep.editing">
                                            <input type="text" class="form-control" ng-model="iep.title_temp" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Due Date: </label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" ng-if="!iep.editing">{{ iep.due_date.format('YYYY-MM-DD') }}</p>
                                        <div ng-if="iep.editing">
                                            <input autocomplete="off" type="text" date-time class="form-control" ng-model="iep.due_date_temp" view="date" min-view="date" format="YYYY-MM-DD" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group no-bottom-margin">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div ng-if="iep.editing">
                                            <button class="btn btn-success" type="submit" ng-disabled="editIepForm{{$index}}.$invalid">
                                                <span>Save</span>
                                            </button>
                                            <button class="btn btn-danger" ng-click="toggleEditIep(iep, false)">
                                                <span>Cancel</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="btn-manipulate-row">
                            <button class="btn btn-primary" ng-if="!iep.editing" ng-click="toggleEditIep(iep, true)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger" ng-if="iep.editing" ng-click="deleteIep(iep)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- chart -->
    <div class="row voffset3" ng-if="iep.quantitative">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Progress</h4>
                    </div>
                    <div class="panel-body">
                        <!-- chart goes here -->
                        <div class="table-fake" ng-show="!iep.graph.show">
                            <h4>No Measurements</h4>
                        </div>
                        <div class="student-ieps-graph" ng-show="iep.graph.show">
                            <canvas id="student_iep_graph_{{$index}}"
                                    class="chart chart-line"
                                    chart-data="iep.graph.data"
                                    chart-labels="iep.graph.labels"
                                    chart-series="iep.graph.series"
                                    chart-options="iep.graph.options"
                                    chart-dataset-override="iep.graph.datasetOverride">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- measurements -->
    <div class="row voffset3">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Measurements <span ng-if="iep.quantitative">(Scored From {{ iep.quantitative_range_low }} to {{ iep.quantitative_range_upper }})</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-fake" ng-show="iep.datapoints.length === 0">
                                    <h4>No Measurements</h4>
                                </div>
                                <div class="table-responsive table-select" ng-show="iep.datapoints.length !== 0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="student-ieps-tiny-col">Date</th>
                                                <th class="student-ieps-tiny-col" ng-show="iep.quantitative">Score</th>
                                                <th>Note</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="editable-row" ng-repeat="data in iep.datapoints" ng-click="toggleEditData(data, true)">
                                                <td class="student-ieps-tiny-col" ng-show="!data.editing">{{ data.date.format('YYYY-MM-DD') }}</td>
                                                <td class="student-ieps-tiny-col" ng-show="!data.editing && iep.quantitative">{{ data.value }}</td>
                                                <td ng-show="!data.editing">{{ data.note }}</td>
                                                <td class="student-ieps-min-col vertical-align-mid" ng-show="!data.editing">
                                                    <span class="glyphicon glyphicon-pencil pencilEdit student-ieps-hover-pencil"></span>
                                                </td>
                                                <td class="student-ieps-min-col table-button-col vertical-align-mid" ng-show="!data.editing">
                                                    <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="deleteData(iep, data); $event.stopPropagation();">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td class="student-ieps-tiny-col" ng-show="data.editing">
                                                    <input autocomplete="off" type="text" date-time class="form-control" ng-model="data.date_temp" view="date" min-view="date" format="YYYY-MM-DD" required>
                                                </td>
                                                <td class="student-ieps-tiny-col" ng-show="data.editing && iep.quantitative">
                                                    <input type="text" class="form-control" ng-model="data.value_temp" ng-class="{ 'ng-invalid': dataValueValidation(iep, data), }">
                                                </td>
                                                <td ng-show="data.editing">
                                                    <input type="text" class="form-control" ng-model="data.note_temp">
                                                </td>
                                                <td class="student-ieps-min-col" ng-show="data.editing">
                                                    <button class="btn btn-success" type="button" ng-disabled="dataValidation(iep, data)" ng-click="saveData(iep, data); $event.stopPropagation();">
                                                        Save
                                                    </button>
                                                </td>
                                                <td class="student-ieps-min-col" ng-show="data.editing">
                                                    <button class="btn btn-danger" type="button" ng-click="toggleEditData(data, false); $event.stopPropagation();">
                                                        Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- click to add data panel -->
                        <div class="btn-manipulate-row">
                            <button class="btn btn-success" ng-if="!iep.addingData" ng-click="toggleAddData(iep, true)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <!-- add data panel -->
                        <div class="row voffset3" ng-if="iep.addingData">
                            <div class="col-xs-12">
                                <div class="panel-wrapper">
                                    <div class="panel panel-default no-bottom-margin">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Add Measurement</h4>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal" name="addDataForm{{$index}}" ng-submit="addData(iep)">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Date: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" date-time ng-model="iep.newData.date" view="date" min-view="date" format="YYYY-MM-DD" required>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="iep.quantitative">
                                                    <label class="control-label col-sm-2">Score: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="iep.newData.value" ng-class="{ 'ng-invalid': dataNewValueValidation(iep, iep.newData), }" ng-required="iep.quantitative">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Note: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="iep.newData.note">
                                                    </div>
                                                </div>
                                                <div class="form-group no-bottom-margin">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button class="btn btn-success" ng-disabled="addDataForm{{$index}}.$invalid || dataNewValueValidation(iep, iep.newData)" type="submit">Add</button>
                                                        <button class="btn btn-danger" ng-click="toggleAddData(iep, false)">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- notes -->
    <div class="row voffset3">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Notes</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-fake" ng-show="iep.notes.length === 0">
                                    <h4>No Notes</h4>
                                </div>
                                <div class="table-responsive table-select" ng-show="iep.notes.length !== 0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="student-ieps-tiny-col">Date</th>
                                                <th>Note</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="editable-row" ng-repeat="note in iep.notes" ng-click="toggleEditNote(note, true)">
                                                <td class="student-ieps-tiny-col">{{ note.date.format('YYYY-MM-DD') }}</td>
                                                <td ng-show="!note.editing">
                                                    <div ng-if="note.title && note.title.length > 0">
                                                        <span class="student-ieps-note-title">{{ note.title }}</span>
                                                    </div>
                                                    <div ng-if="note.body && note.body.length > 0">
                                                        <span>"{{ note.body }}"</span>
                                                    </div>
                                                </td>
                                                <td class="student-ieps-min-col vertical-align-mid" ng-show="!note.editing">
                                                    <span class="glyphicon glyphicon-pencil pencilEdit student-ieps-hover-pencil"></span>
                                                </td>
                                                <td class="student-ieps-min-col table-button-col vertical-align-mid" ng-show="!note.editing">
                                                    <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="deleteNote(iep, note); $event.stopPropagation();">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td ng-show="note.editing">
                                                    <div>
                                                        <input type="text" class="form-control" ng-model="note.title_temp" required>
                                                    </div>
                                                    <div>
                                                        <input type="text" class="form-control student-ieps-note-spacer" ng-model="note.body_temp" required>
                                                    </div>
                                                </td>
                                                <td class="student-ieps-min-col" ng-show="note.editing">
                                                    <button class="btn btn-success" type="button" ng-disabled="noteValidation(note)" ng-click="saveNote(iep, note); $event.stopPropagation();">
                                                        <span>Save</span>
                                                    </button>
                                                </td>
                                                <td class="student-ieps-min-col" ng-show="note.editing">
                                                    <button class="btn btn-danger" type="button" ng-click="toggleEditNote(note, false); $event.stopPropagation();">
                                                        <span>Cancel</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- click to add note panel -->
                        <div class="btn-manipulate-row">
                            <button class="btn btn-success" ng-if="!iep.addingNote" ng-click="toggleAddNote(iep, true)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <!-- add note panel -->
                        <div class="row voffset3" ng-if="iep.addingNote">
                            <div class="col-xs-12">
                                <div class="panel-wrapper">
                                    <div class="panel panel-default no-bottom-margin">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Add Note</h4>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-horizontal" name="addNoteForm{{$index}}" ng-submit="addNote(iep)">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Title: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="iep.newNote.title" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Note: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="iep.newNote.body" required>
                                                    </div>
                                                </div>
                                                <div class="form-group no-bottom-margin">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button class="btn btn-success" ng-disabled="addNoteForm{{$index}}.$invalid" type="submit">Add</button>
                                                        <button class="btn btn-danger" ng-click="toggleAddNote(iep, false)">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add iep -->
<div class="row voffset4" ng-if="addingIep">
    <div class="col-xs-12">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Create IEP</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="addIepForm" ng-submit="addIep()">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Title: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newIep.title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Due Date: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" date-time ng-model="newIep.due_date" view="date" min-view="date" format="YYYY-MM-DD" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Measureable: </label>
                            <div class="col-sm-10 form-checkbox-container">
                                <input type="checkbox" ng-model="newIep.quantitative" ng-true-value="'Yes'" ng-false-value="'No'">
                                <span>{{ newIep.quantitative }}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="newIep.quantitative === 'Yes'">
                            <label class="control-label col-sm-2">Highest Possible Score: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newIep.quantitative_range_upper" ng-required="newIep.quantitative === 'Yes'" ng-class="{ 'invalid': iepRangeValidation(), }">
                            </div>
                        </div>
                        <div class="form-group" ng-show="newIep.quantitative === 'Yes'">
                            <label class="control-label col-sm-2">Lowest Possible Score: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newIep.quantitative_range_low" ng-required="newIep.quantitative === 'Yes'" ng-class="{ 'invalid': iepRangeValidation(), }">
                            </div>
                        </div>
                        <div class="form-group no-bottom-margin">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success" ng-disabled="addIepForm.$invalid || iepRangeValidation()" type="submit">Create</button>
                                <button class="btn btn-danger" ng-click="toggleAddIep(false)">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <!--<div class="col-xs-12 voffset3" ng-if="iepRangeValidation()">-->
                        <!--<div class="alert alert-danger">-->
                            <!--<span><b>Error:</b> You must define a highest and lowest score. Lowest must be a smaller value than highest.</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>

