<div ng-include="'html/studentTabs.html'"></div>
<div class="tab-content">
    <div id="overview" class="tab-pane fade in active voffset3">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div id="student-overview-pic">
                    <img class="img-responsive" src="img/example_kid.jpeg">
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 center-block">
                <h2 id="student-overview-title">{{ student.first_name }} {{ student.last_name }}</h2>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div id="student-overview-assign-dropdown" class="input-group pull-right">
                    <span class="input-group-addon">Assigned To</span>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{ caseManager.first_name }} {{ caseManager.last_name }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="entry in caseManagers" ng-click="selectCaseManager(entry)" ng-class="{ 'active': entry.pk === caseManager.pk, }">
                                <a class="student-overview-assign-link">
                                    {{ entry.first_name }} {{ entry.last_name }}  <span ng-if="entry.pk === caseManager.pk" class="glyphicon glyphicon-ok"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel-wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title panel-title-with-btn">Student Info</h3>
                            <button id="student-overview-edit-all-btn" class="btn btn-primary pull-right" type="button" ng-click="beginEditStudent('all')" ng-hide="editingAll">
                                Edit All
                            </button>
                            <button id="student-overview-edit-all-btn" class="btn btn-danger pull-right" type="button" ng-click="endEditStudent('all')" ng-show="editingAll">
                                Stop Editing
                            </button>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="property in studentProperties">
                                <form class="form-horizontal" name="editStudentForm{{$index}}" ng-submit="saveStudent(property);">
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-3">{{ property.title }}:</label>
                                        <p class="form-control-static col-xs-12 col-sm-9" ng-show="!property.editable">
                                        {{ property.value }} &nbsp;&nbsp;&nbsp;
                                        <span ng-click="beginEditStudent(property)" class="glyphicon glyphicon-pencil pencilEdit"></span>
                                        </p>
                                        <div id="student-overview-edit-input-group" class="input-group col-xs-12 col-sm-9" ng-show="property.editable">
                                            <input ng-if="property.key !== 'birthdate'" type="text" class="form-control" name="editStudentFormInput{{$index}}" ng-model="property.curValue" required auto-focus>
                                            <input ng-if="property.key === 'birthdate'" type="text" date-time class="form-control" name="editStudentFormInput{{$index}}" ng-model="property.curValue" view="year" min-view="date" format="YYYY-MM-DD" required>
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="submit" ng-disabled="editStudentForm{{$index}}.editStudentFormInput{{$index}}.$invalid">
                                                    <span class="glyphicon glyphicon-ok green"></span>
                                                </button>
                                                <button class="btn btn-default" type="button" ng-click="endEditStudent(property)">
                                                    <span class="glyphicon glyphicon-remove red"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel-wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Class Schedule</h3>
                        </div>
                        <div class="panel-body">
                            <div id="student-overview-select" class="input-group">
                                <span class="input-group-addon">Term</span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selectedTerm.name }} <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-repeat="entry in terms" ng-click="selectTerm(entry)" ng-class="{ 'active': entry.id === selectedTerm.id, }">
                                            <a class="student-overview-assign-link">{{ entry.name }}  <span ng-if="entry.id === selectedTerm.id" class="glyphicon glyphicon-ok"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="student-overview-no-classes" class="voffset3" ng-show="termSections.length === 0">
                                <h4 class="centerText">No Classes</h4>
                            </div>
                            <div class="table-responsive voffset3" ng-show="termSections.length > 0">
                                <table ng-if="sections.length > 0" class="table">
                                    <thead>
                                        <tr>
                                            <th>Period</th>
                                            <th>Class Name</th>
                                            <th>Teacher</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="section in sections | filter:{ term: selectedTerm.id, }">
                                            <td>{{ section.period }}</td>
                                            <td>{{ section.title }}</td>
                                            <td>{{ teachers[section.teacher].first_name }} {{ teachers[section.teacher].last_name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="sections.length === 0">
                                <h4 class="centerText">No Classes</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
