<div ng-include="'html/studentTabs.html'"></div>
<div ng-if="!hasBehaviorService" class="row">
    <div class="col-xs-12">
        <div id="student-behaviors-service-warning" class="alert alert-warning" role="alert">
            <span><b>Warning:</b> This student doesn't have a Behavior Service. If this student did in the past, you may view that history here. If not, you can add a Behavior Service to this student in order to start recording Behavior and Effort.</span>
        </div>
    </div>
</div>
<div ng-if="sections.length > 0" class="row">
    <div class="col-xs-12">
        <button ng-click="openReportForm()" class="btn btn-primary pull-right focus-top-button" type="button">Generate Report</button>
    </div>
</div>
<div class="modal fade" id="generateReportModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header grey modal-wrapper">
                <button type="button" class="close" data-dismiss="modal" ng-click="test = false">&times;</button>
                <h4 class="modal-title">Create Behavior and Effort Report for {{ student.first_name }} {{ student.last_name }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="reportForm" ng-submit="generateReport()">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="reportClass">Class:</label>
                        <div class="col-sm-11">
                            <select required ng-model="report.class" ng-options="x.title for x in classOptions" id="reportClass" name="reportClass" class="form-control" ng-change="updateClassGraphs()"></select>
                        </div>
                        <div ng-if="report.class.title != null">
                            <div class="voffset3 col-xs-12 centerText">
                                <p><b>Behavior</b></p>
                            </div>
                            <div class="student-behaviors-report-graph col-xs-12" ng-if="report.class.title === 'Average'">
                                <canvas id="report_student_avg_behavior" class="chart chart-line" chart-data="avgBehaviorGraph.data" chart-labels="sharedGraph.labels" chart-options="avgBehaviorGraph.options" chart-click="onClick">
                            </canvas>
                            </div>
                            <div class="student-behaviors-report-graph col-xs-12" ng-if="report.class.title === 'All Classes'">
                                <canvas id="report_student_behavior" class="chart chart-line" chart-data="behaviorGraph.data" chart-labels="sharedGraph.labels" chart-series="sharedGraph.series" chart-options="behaviorGraph.options" chart-click="onClick">
                            </canvas>
                            </div>
                            <div class="student-behaviors-report-graph col-xs-12" ng-if="showClass" id="classBehaviorContainer">
                                <canvas id="report_student_class_behavior" class="chart chart-line" chart-data="singleBehaviorGraph.data" chart-labels="sharedGraph.labels" chart-options="singleBehaviorGraph.options">
                            </canvas>
                            </div>
                            <div class="voffset3 col-xs-12 centerText">
                                <p><b>Effort</b></p>
                            </div>
                            <div class="student-behaviors-report-graph col-xs-12" ng-if="report.class.title === 'Average'">
                                <canvas id="report_student_avg_effort" class="chart chart-line" chart-data="avgEffortGraph.data" chart-labels="sharedGraph.labels" chart-options="avgEffortGraph.options" chart-click="onClick">
                            </canvas>
                            </div>
                            <div class="student-behaviors-report-graph col-xs-12" ng-if="report.class.title === 'All Classes'">
                                <canvas id="report_student_effort" class="chart chart-line" chart-data="effortGraph.data" chart-labels="sharedGraph.labels" chart-series="sharedGraph.series" chart-options="effortGraph.options" chart-click="onClick">
                            </canvas>
                            </div>
                            <div class="student-behaviors-report-graph col-xs-12" ng-if="showClass">
                                <canvas id="report_student_class_effort" class="chart chart-line" chart-data="singleEffortGraph.data" chart-labels="sharedGraph.labels" chart-options="singleEffortGraph.options">
                            </canvas>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="voffset4">
                </div>
                <div class="btn-manipulate-row">
                    <button ng-disabled="reportForm.$invalid" class="btn btn-success" ng-click="generateReport()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="sections.length === 0">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info no-bottom-margin" role="alert">
                <span>
                    <b>Tip:</b>
                    It looks like this student isn't enrolled in any classes.
                    <span ng-if="!isSuperUser">Speak to an admin to add a class to this student's schedule.</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div ng-if="sections.length > 0">
    <div class="row voffset3">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">From</span>
                <input type="text" id="graphStartDate" class="form-control" date-time ng-model="graphStartDate" view="date" min-view="date" format="YYYY-MM-DD" date-change="graphDateRangeChange" max-date="graphEndDate" watch-direct-changes="true">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 student-mobile-spacer">
            <div class="input-group">
                <span class="input-group-addon">To</span>
                <input type="text" id="graphEndDate" class="form-control" date-time ng-model="graphEndDate" view="date" min-view="date" format="YYYY-MM-DD" date-change="graphDateRangeChange" min-date="graphStartDate" watch-direct-changes="true">
            </div>
        </div>
    </div>
    <div class="row voffset4">
        <div class="col-lg-6">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Behavior</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <select required ng-model="behaviorGraphSelection" ng-options="x for x in graphDisplayOptions" class="form-control"></select>
                            </div>
                        </div>
                        <div class="student-behaviors-graph voffset2" ng-if="behaviorGraphSelection === 'All Classes'">
                            <canvas id="student_behavior" class="chart chart-line" chart-data="behaviorGraph.data" chart-labels="sharedGraph.labels" chart-series="sharedGraph.series" chart-options="behaviorGraph.options" chart-click="onClick">
                            </canvas>
                        </div>
                        <div class="student-behaviors-graph voffset2" ng-if="behaviorGraphSelection === 'Average'">
                            <canvas id="student_avg_behavior" class="chart chart-line" chart-data="avgBehaviorGraph.data" chart-labels="sharedGraph.labels" chart-options="avgBehaviorGraph.options" chart-click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Effort</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <select required ng-model="effortGraphSelection" ng-options="x for x in graphDisplayOptions" class="form-control"></select>
                            </div>
                        </div>
                        <div class="student-behaviors-graph voffset2" ng-if="effortGraphSelection === 'All Classes'">
                            <canvas id="student_effort" class="chart chart-line" chart-data="effortGraph.data" chart-labels="sharedGraph.labels" chart-series="sharedGraph.series" chart-options="effortGraph.options" chart-click="onClick">
                            </canvas>
                        </div>
                        <div class="student-behaviors-graph voffset2" ng-if="effortGraphSelection === 'Average'">
                            <canvas id="student_avg_effort" class="chart chart-line" chart-data="avgEffortGraph.data" chart-labels="sharedGraph.labels" chart-options="avgEffortGraph.options" chart-click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row voffset3" ng-if="hasBehaviorService">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span ng-show="isSuperUser || isCaseManager">Input </span>Behavior Data</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon">For Date</span>
                            <input type="text" id="inputDate" class="form-control" date-time ng-model="inputDate" view="date" min-view="date" format="YYYY-MM-DD" date-change="inputDateChange" watch-direct-changes="true">
                        </div>
                        <div class="voffset3">
                            <div class="alert alert-info no-bottom-margin" ng-if="scoresInput.length === 0">
                                <span><b>Info:</b> It looks like this student either isn't enrolled in any classes for this date, or you aren't one of this student's teachers for this term.</span>
                            </div>
                            <table class="table table-responsive" ng-if="scoresInput.length !== 0">
                                <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>Behavior</th>
                                        <th>Effort</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="entry in scoresInput">
                                        <td>{{ entry.title }}</td>
                                        <td>
                                            <select ng-if="isSuperUser || isCaseManager" ng-model="entry.curBehavior" ng-options="x.value as x.display for x in inputOptions" ng-change="saveScore(entry, 'behavior')">
                                            </select>
                                            <span ng-if="!isSuperUser && !isCaseManager">{{ entry.behavior }}</span>
                                        </td>
                                        <td>
                                            <select ng-if="isSuperUser || isCaseManager" ng-model="entry.curEffort" ng-options="x.value as x.display for x in inputOptions" ng-change="saveScore(entry, 'effort')">
                                            </select>
                                            <span ng-if="!isSuperUser && !isCaseManager">{{ entry.effort }}</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- behavior comment -->
                        <div class="voffset4" ng-if="scoresInput.length !== 0">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="student-behaviors-comment-header" ng-class="{ 'editing': editingNote, 'full-width': (!isSuperUser && !isCaseManager), }">
                                        <h4>Comment on Today's Behavior</h4>
                                    </div>
                                    <div class="student-behaviors-comment-btns" ng-if="!editingNote && (isSuperUser || isCaseManager)">
                                        <button class="btn btn-primary btn-manipulate" type="button" ng-click="toggleEditingNote(true)" ng-show="true">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>
                                    <div class="student-behaviors-comment-btns" ng-if="editingNote">
                                        <button class="btn btn-success btn-manipulate" type="button" ng-click="saveNote()" ng-show="true">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-default btn-manipulate" type="button" ng-click="toggleEditingNote(false)" ng-show="true">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row voffset3">
                                <div class="col-xs-12">
                                    <div class="student-behaviors-comment-textarea-fake" ng-show="!editingNote"><span>{{ behaviorNote.body }}</span></div>
                                    <textarea class="student-behaviors-comment-textarea" ng-model="behaviorNote.body_temp" ng-show="editingNote"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
