<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="student-name-title">{{ student.first_name }} {{ student.last_name }}</h2>
        </div>
    </div>
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li><a ng-href="#!/student/{{student.id}}">Overview</a></li>
        <li><a ng-href="#!/student/{{student.id}}/tests">Test Scores</a></li>
        <li class="active"><a ng-href="#!/student/{{student.id}}/grades">Grades</a></li>
        <li><a ng-href="#!/student/{{student.id}}/behaviors">Behavior</a></li>
        <li><a ng-href="#!/student/{{student.id}}/ieps">IEP Goals</a></li>
        <li><a ng-href="#!/student/{{student.id}}/services">Services</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li><a ng-href="#!/student/{{student.id}}">Overview</a></li>
        <li><a ng-href="#!/student/{{student.id}}/tests">Test Scores</a></li>
        <li class="active"><a ng-href="#!/student/{{student.id}}/grades">Grades</a></li>
        <li><a ng-href="#!/student/{{student.id}}/behaviors">Behavior</a></li>
        <li><a ng-href="#!/student/{{student.id}}/ieps">IEP Goals</a></li>
        <li><a ng-href="#!/student/{{student.id}}/services">Services</a></li>
    </ul>
    <div class="tab-content">
        <div id="grades" class="tab-pane fade in active voffset3">
            <div class="row voffset4" ng-repeat="error in errorMessages">
                <div class="col-xs-12">
                    <div class="alert alert-danger no-bottom-margin" role="alert">
                        <span><b>Error:</b> {{ error }}</span>
                    </div>
                </div>
            </div>
            <div class="row voffset4">
                <div class="col-xs-12">
                    <div id="student-grades-select" class="input-group">
                        <span class="input-group-addon">Select Class</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selectedSection.title }} <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="entry in sections" ng-click="selectSection(entry)">
                                    <a class="student-overview-assign-link">{{ entry.title }}  <span ng-if="entry.id === selectedSection.id" class="glyphicon glyphicon-ok"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset4">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Class Grade</h3>
                            </div>
                            <div class="panel-body">
                                <div ng-if="!noAssignments" class="row">
                                    <div class="col-xs-12">
                                        <h1 class="student-grades-box-content">{{ classGrade }}</h1>
                                    </div>
                                </div>
                                <div ng-if="noAssignments" class="row">
                                    <div class="col-xs-12">
                                        <h3 class="student-grades-box-content">No Assignments</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Assignment Completion</h3>
                            </div>
                            <div class="panel-body">
                                <div ng-if="!noAssignments" class="row">
                                    <div class="col-xs-12">
                                        <canvas id="student-grades-completion-graph"
                                                class="chart chart-doughnut"
                                                chart-data="completionGraph.data"
                                                chart-labels="completionGraph.labels"
                                                chart-options="completionGraph.options"
                                                chart-colors="completionGraph.colors"
                                                chart-dataset-override="completionGraph.datasetOverride">
                                        </canvas>
                                    </div>
                                </div>
                                <div ng-if="noAssignments" class="row">
                                    <div class="col-xs-12">
                                        <h3 class="student-grades-box-content">No Assignments</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset2">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Grades on Assignments</h3>
                            </div>
                            <div class="panel-body">
                                <div ng-if="!noAssignments" class="row">
                                    <div class="col-xs-12">
                                        <canvas id="student-grades-assignment-graph"
                                                class="chart chart-bar"
                                                chart-data="assignmentsGraph.data"
                                                chart-labels="assignmentsGraph.labels"
                                                chart-options="assignmentsGraph.options"
                                                chart-colors="assignmentsGraph.colors"
                                                chart-dataset-override="assignmentsGraph.datasetOverride">
                                        </canvas>
                                    </div>
                                </div>
                                <div ng-if="noAssignments" class="row">
                                    <div class="col-xs-12">
                                        <h2 class="student-grades-box-content">No Assignments</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset2">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Missing Assignments</h3>
                            </div>
                            <table ng-if="missingAssignments.length > 0" class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Due Date</th>
                                </tr>
                                <tr ng-repeat="assignment in missingAssignments">
                                    <td>{{ assignment.assignment_name }}</td>
                                    <td>{{ assignment.due_date.format('MM/DD').toString() }}</td>
                                </tr>

                            </table>
                            <div ng-if="missingAssignments.length === 0 || noAssignments" class="panel-body">
                                <h4 id="student-grades-no-missing">No Missing Assignments</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
