<div ng-include="'html/studentTabs.html'"></div>
<div ng-if="sections.length === 0">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info no-bottom-margin" role="alert">
                <span><b>Tip:</b> It looks like this student isn't enrolled in any classes. Speak to an admin to add a class to this student's schedule.</span>
            </div>
        </div>
    </div>
</div>
<div ng-if="sections.length > 0">
    <div class="row">
        <div class="col-sm-6">
            <div class="select-full-width input-group">
                <span class="input-group-addon">Term</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selectedTerm.name }} <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="entry in terms" ng-click="selectTerm(entry)" ng-class="{ 'active': entry.id === selectedTerm.id, }">
                            <a>{{ entry.name }}  <span ng-if="entry.id === selectedTerm.id" class="glyphicon glyphicon-ok"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 student-mobile-spacer">
            <div class="select-full-width input-group">
                <span class="input-group-addon">Class</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{ 'disabled': selectedSection === null, }">
                        <span ng-if="selectedSection !== null">{{ selectedSection.title }} </span>
                        <span ng-if="selectedSection === null">No Classes</span>
                        <span class="caret" ng-if="selectedSection !== null"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="entry in sections | filter: sectionsForTermFilter" ng-click="selectSection(entry)" ng-class="{ 'active': entry.id === selectedSection.id, }">
                            <a>{{ entry.title }}  <span ng-if="entry.id === selectedSection.id" class="glyphicon glyphicon-ok"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="selectedSection === null">
        <div class="row voffset4">
            <div class="col-xs-12">
                <div class="alert alert-info no-bottom-margin" role="alert">
                    <span><b>Tip:</b> Select a class by finding a Term where the student is enrolled in classes. You must be one of this student's teachers for a given term in order to see the student's grades for that term.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="voffset4" ng-if="selectedSection !== null">
        <div ng-if="assignments.length === 0 && upcomingAssignments.length === 0">
            <div class="alert alert-info">
                <span><b>Info:</b> It looks like this class doesn't have any assignments yet.</span>
            </div>
        </div>
        <div ng-if="assignments.length > 0 || upcomingAssignments.length > 0">
            <div ng-if="assignments.length === 0">
                <div class="alert alert-info">
                    <span><b>Info:</b> It looks like this class hasn't had any assignments due yet.</span>
                </div>
            </div>
            <div ng-if="assignments.length > 0">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel-wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Class Grade</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div progress-circle class="student-grades-progress-circle" percent="{{ classGrade }}" text="{{ classGradeText }}" ng-class="{ 'danger': classGrade < 60, 'warning': classGrade < 68, }"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel-wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Assignment Completion</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <canvas id="student-grades-completion-graph"
                                                    class="chart chart-doughnut"
                                                    chart-data="completionGraph.data"
                                                    chart-labels="completionGraph.labels"
                                                    chart-options="completionGraph.options"
                                                    chart-dataset-override="completionGraph.datasetOverride">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row voffset2">
                    <div class="col-xs-12">
                        <div class="panel-wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Grades on Assignments</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <canvas id="student-grades-assignment-graph"
                                                    class="chart chart-bar"
                                                    chart-data="assignmentsGraph.data"
                                                    chart-labels="assignmentsGraph.labels"
                                                    chart-options="assignmentsGraph.options"
                                                    chart-dataset-override="assignmentsGraph.datasetOverride">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset3">
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Upcoming Assignments</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-responsive" ng-if="upcomingAssignments.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Due Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="assignment in upcomingAssignments">
                                            <td>{{ assignment.assignment_name }}</td>
                                            <td>{{ assignment.due_date.format('MM/DD').toString() }}</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div ng-if="upcomingAssignments.length === 0">
                                    <div class="alert alert-success">
                                        <span><b>Relax!</b> No upcoming assignments.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Missing Assignments</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-responsive" ng-if="missingAssignments.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Due Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="assignment in missingAssignments">
                                            <td>{{ assignment.assignment_name }}</td>
                                            <td>{{ assignment.due_date.format('MM/DD').toString() }}</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div ng-if="missingAssignments.length === 0">
                                    <div class="alert alert-success">
                                        <span><b>Looking Good!</b> No missing assignments.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row voffset3" ng-if="noGradeData.length > 0">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">No Grade Data Available</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Due Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="assignment in noGradeData">
                                            <td>{{ assignment.assignment_name }}</td>
                                            <td>{{ assignment.due_date.format('MM/DD').toString() }}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
