<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="student-name-title">{{ student.first_name }} {{ student.last_name }}</h2>
        </div>
    </div>
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li><a ng-href="#!/student/{{student.id}}">Overview</a></li>
        <li class="active"><a ng-href="#!/student/{{student.id}}/tests">Test Scores</a></li>
        <li><a ng-href="#!/student/{{student.id}}/grades">Grades</a></li>
        <li><a ng-href="#!/student/{{student.id}}/behaviors">Behavior</a></li>
        <li><a ng-href="#!/student/{{student.id}}/ieps">IEP Goals</a></li>
        <li><a ng-href="#!/student/{{student.id}}/services">Services</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li><a ng-href="#!/student/{{student.id}}">Overview</a></li>
        <li class="active"><a ng-href="#!/student/{{student.id}}/tests">Test Scores</a></li>
        <li><a ng-href="#!/student/{{student.id}}/grades">Grades</a></li>
        <li><a ng-href="#!/student/{{student.id}}/behaviors">Behavior</a></li>
        <li><a ng-href="#!/student/{{student.id}}/ieps">IEP Goals</a></li>
        <li><a ng-href="#!/student/{{student.id}}/services">Services</a></li>
    </ul>
    <div class="tab-content">
        <div id="behavior" class="tab-pane fade in active voffset3">
            <div class="row voffset4" ng-repeat="error in errorMessages">
                <div class="col-xs-12">
                    <div class="alert alert-danger no-bottom-margin" role="alert">
                        <span><b>Error:</b> {{ error }}</span>
                    </div>
                </div>
            </div>
            <div class="row voffset4">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Performance</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 voffset2">
                                        <div class="input-group">
                                            <span class="input-group-addon">From</span>
                                            <input type="text"
                                                   id="graphStartDate"
                                                   class="form-control"
                                                   date-time ng-model="graphStartDate"
                                                   view="date"
                                                   min-view="date"
                                                   format="YYYY-MM-DD"
                                                   date-change="graphDateRangeChange"
                                                   max-date="graphEndDate"
                                                   watch-direct-changes="true">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 voffset2">
                                        <div class="input-group">
                                            <span class="input-group-addon">To</span>
                                            <input type="text"
                                                   id="graphEndDate"
                                                   class="form-control"
                                                   date-time ng-model="graphEndDate"
                                                   view="date"
                                                   min-view="date"
                                                   format="YYYY-MM-DD"
                                                   date-change="graphDateRangeChange"
                                                   min-date="graphStartDate"
                                                   watch-direct-changes="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row voffset3">
                                    <div class="col-sm-12 centerText" ng-repeat="graph in testGraphs">
                                        <div class="col-sm-12 student-tests-graph">
                                            <canvas id="testGraph-{{$index}}"
                                                    class="chart chart-line"
                                                    chart-data="graph.data"
                                                    chart-labels="graph.labels"
                                                    chart-options="graph.options"
                                                    chart-colors="graph.colors">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
