<div ng-include="'html/studentTabs.html'"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title panel-title-with-btn">Student Info</h3>
                    <button id="student-overview-edit-all-btn" class="btn btn-primary pull-right" type="button" ng-click="beginEditStudent('all')" ng-hide="editingAll">
                        Edit All
                    </button>
                    <button id="student-overview-edit-all-btn" class="btn btn-danger pull-right" type="button" ng-click="endEditStudent('all')" ng-show="editingAll">
                        Stop Editing
                    </button>
                </div>
                <div class="panel-body">
                    <div ng-repeat="property in studentProperties">
                        <form class="form-horizontal" name="editStudentForm{{$index}}" ng-submit="saveStudent(property);">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3">{{ property.title }}:</label>
                                <p class="form-control-static col-xs-12 col-sm-9" ng-show="!property.editable">
                                {{ property.value }} &nbsp;&nbsp;&nbsp;
                                <span ng-click="beginEditStudent(property)" class="glyphicon glyphicon-pencil pencilEdit"></span>
                                </p>
                                <div id="student-overview-edit-input-group" class="input-group col-xs-12 col-sm-9" ng-show="property.editable">
                                    <input ng-if="property.key !== 'birthdate'" type="text" class="form-control" name="editStudentFormInput{{$index}}" ng-model="property.curValue" required auto-focus>
                                    <input ng-if="property.key === 'birthdate'" type="text" date-time class="form-control" name="editStudentFormInput{{$index}}" ng-model="property.curValue" view="year" min-view="date" format="YYYY-MM-DD" required>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" ng-disabled="editStudentForm{{$index}}.editStudentFormInput{{$index}}.$invalid">
                                            <span class="glyphicon glyphicon-ok green"></span>
                                        </button>
                                        <button class="btn btn-default" type="button" ng-click="endEditStudent(property)">
                                            <span class="glyphicon glyphicon-remove red"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Case Manager:</label>
                            <div id="student-overview-edit-input-group" class="input-group col-xs-12 col-sm-9">
                                <button type="button" class="btn btn-default dropdown-toggle full-width" data-toggle="dropdown">
                                    {{ caseManager.first_name }} {{ caseManager.last_name }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="entry in caseManagers" ng-click="selectCaseManager(entry)" ng-class="{ 'active': entry.pk === caseManager.pk, }">
                                        <a class="student-overview-assign-link">
                                            {{ entry.first_name }} {{ entry.last_name }}  <span ng-if="entry.pk === caseManager.pk" class="glyphicon glyphicon-ok"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">Photo:</label>
                            <div id="student-overview-edit-input-group" class="input-group col-xs-12 col-sm-9">
                                <button type="button" class="btn btn-default full-width" data-toggle="modal" data-target="#imgModal">
                                    Select New Photo
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Class Schedule</h3>
                </div>
                <div class="panel-body">
                    <div id="student-overview-select" class="input-group">
                        <span class="input-group-addon">Term</span>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ selectedTerm.name }} <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="entry in terms" ng-click="selectTerm(entry)" ng-class="{ 'active': entry.id === selectedTerm.id, }">
                                    <a class="student-overview-assign-link">{{ entry.name }}  <span ng-if="entry.id === selectedTerm.id" class="glyphicon glyphicon-ok"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="alert alert-info no-bottom-margin voffset3" ng-if="termSections.length === 0">
                        <span><b>Info:</b> It looks like this student isn't enrolled in any classes for this term.</span>
                    </div>
                    <div class="table-responsive voffset3" ng-show="termSections.length > 0">
                        <table ng-if="sections.length > 0" class="table">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Class Name</th>
                                    <th>Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="section in sections | filter:{ term: selectedTerm.id, }">
                                    <td>{{ section.period }}</td>
                                    <td>{{ section.title }}</td>
                                    <td>{{ teachers[section.teacher].first_name }} {{ teachers[section.teacher].last_name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="sections.length === 0">
                        <h4 class="centerText">No Classes</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="data:image/png;base64,{{ toDisplay }}">
<div class="modal fade" id="imgModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header grey modal-wrapper">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select New Photo</h4>
            </div>
            <div class="modal-body">
                <form id="student-overview-picture-form" enctype="multipart/form-data">
                    <input type="file" file-model="studentImage">
                    <!--<button ngf-select ng-model="studentPicture" accept="image/*" class="btn btn-primary">Select Picture</button>-->
                    <!--<div ngf-drop ng-model="studentPicture" ngf-pattern="image/*" class="student-overview-crop-area">-->
                        <!--<img-crop image="studentPicture | ngfDataUrl" result-image="croppedStudentPicture" ng-init="croppedStudentPicture=''"></img-crop>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img ng-src="{{ croppedStudentPicture }}" />-->
                    <!--</div>-->
                    <button ng-click="uploadStudentPicture(croppedStudentPicture)">Submit</button> 
                </form>







                <!--<div>Select an image file: <input type="file" id="fileInput" /></div>-->
                <!--<div class="cropArea" style="height: 500px; width: 500px;">-->
                    <!--<img-crop image="myImage" result-image="myCroppedImage"></img-crop>-->
                <!--</div>-->
                <!--<div>Cropped Image:</div>-->
                <!--<div><img ng-src="{{myCroppedImage}}" /></div>-->
                <!--<div class="voffset4">-->
                <!--</div>-->
                <div class="btn-manipulate-row">
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteSection()">
                        <span class="far fa-save"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
