<div ng-include="'html/settingsTabs.html'"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title panel-title-with-btn">User Info</h3>
                    <button class="btn btn-primary pull-right heading-btn" type="button" ng-click="editUser('all')" ng-show="editingAll">
                        Edit All
                    </button>
                    <button class="btn btn-danger pull-right heading-btn" type="button" ng-click="editUser('none')" ng-hide="editingAll">
                        Stop Editing
                    </button>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="uEmailForm">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="uemail">Email:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-show="viewUEmail">{{user.email}}</p>
                            </div>
                        </div>
                    </form>
                    <form name="editUFirstNameForm" class="form-horizontal" ng-submit="saveUEdit('firstname')">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ufirstname">First Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-show="viewUFirstName">{{user.firstName}}&nbsp;&nbsp;&nbsp;<span ng-click="editUser('firstname')" class="glyphicon glyphicon-pencil pencilEdit"></span></p>
                                <div class="input-group" ng-hide="viewUFirstName">
                                    <input required autocomplete="off" type="text" class="form-control" id="ufirstname" placeholder="{{user.firstName}}" name="ufirstname" ng-model="uFirstName">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default checkBtn" type="submit" ng-disabled="editUFirstNameForm.$invalid">
                                            <i class="glyphicon glyphicon-ok green"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="cancelUEdit('firstname')">
                                            <i class="glyphicon glyphicon-remove red"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form name="editULastNameForm" class="form-horizontal" ng-submit="saveUEdit('lastname')">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ulastname">Last Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-show="viewULastName">{{user.lastName}}&nbsp;&nbsp;&nbsp;<span ng-click="editUser('lastname')" class="glyphicon glyphicon-pencil pencilEdit"></span></p>
                                <div class="input-group" ng-hide="viewULastName">
                                    <input required autocomplete="off" type="text" class="form-control" id="ulastname" placeholder="{{user.lastName}}" name="ulastname" ng-model="uLastName">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default checkBtn" type="submit" ng-disabled="editULastNameForm.$invalid">
                                            <i class="glyphicon glyphicon-ok green"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="cancelUEdit('lastname')">
                                            <i class="glyphicon glyphicon-remove red"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
                    <form name="passwordForm" ng-submit="savePassword()">
                        <div class="form-group">
                            <label class="control-label" for="oldpwd">Old Password:</label>
                            <input required min-length="8" type="password" class="form-control" id="oldpwd" placeholder="Enter Old Password" name="oldpwd" ng-model="oldPassword">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="newpwd">New Password:</label>
                            <input required min-length="8" type="password" class="form-control" id="newpwd" placeholder="Enter New Password" name="newpwd" ng-model="newPassword">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="cnewpwd">Confirm New Password:</label>
                            <input required min-length="8" type="password" class="form-control" id="cnewpwd" placeholder="Enter New Password" name="cnewpwd" ng-model="confirmPassword">
                        </div>
                        <div class="form-group no-bottom-margin">
                            <button ng-disabled="passwordForm.$invalid" type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
