<div ng-include="'html/settingsTabs.html'"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6 bottom-offset3">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Info</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="editUserForm" ng-submit="saveUEdit()">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="uemail">Email:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{user.email}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ufirstname">First Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-if="!userEdit">{{user.firstName}}</p>
                                <div ng-if="userEdit">
                                    <input required autocomplete="off" type="text" class="form-control" id="ufirstname" name="ufirstname" ng-model="userE.firstName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ulastname">Last Name:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" ng-if="!userEdit">{{user.lastName}}</p>
                                <div ng-if="userEdit">
                                    <input required autocomplete="off" type="text" class="form-control" id="ulastname" name="ulastname" ng-model="userE.lastName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group no-bottom-margin">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div ng-if="userEdit">
                                    <button class="btn btn-success" type="submit" ng-disabled="editUserForm.$invalid">
                                            <span>Save</span>
                                        </button>
                                    <button class="btn btn-danger" type="button" ng-click="toggleUserEdit()">
                                            <span>Cancel</span>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="btn-manipulate-row">
                        <button class="btn btn-primary" ng-if="!userEdit" ng-click="toggleUserEdit()">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
                    <form name="passwordForm" ng-submit="savePassword()">
                        <div class="form-group">
                            <label class="control-label" for="oldpwd">Old Password:</label>
                            <input required min-length="8" type="password" class="form-control" id="oldpwd" placeholder="Enter Old Password" name="oldpwd" ng-model="oldPassword">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="newpwd">New Password:</label>
                            <input required min-length="8" type="password" class="form-control" id="newpwd" placeholder="Enter New Password" name="newpwd" ng-model="newPassword">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="cnewpwd">Confirm New Password:</label>
                            <input required min-length="8" type="password" class="form-control" id="cnewpwd" placeholder="Enter New Password" name="cnewpwd" ng-model="confirmPassword">
                        </div>
                        <div class="form-group no-bottom-margin">
                            <button ng-disabled="passwordForm.$invalid" type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'html/bottomSpacer.html'"></div>
