<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <h3>Focus Students</h3>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="index.html#!/student">Graham Zuber</a>
                        <span id="chevDown4" class="glyphicon glyphicon-chevron-down" style="float:right;cursor:pointer" 
                              data-toggle="collapse" data-target="#collapse1" onclick="$(this).toggleClass('glyphicon-chevron-up glyphicon-chevron-down')"></span>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="background-color:lightgray;border:3px solid gray;border-radius:10px;height:250px">
                                <p>Student specific visualization (graph)...</p>
                            </div>
                            <div class="col-sm-4" style="background-color:lightgreen;border:3px solid green;height:250px;border-radius: 10px;">
                                Progress Category...
                                <span style="float:right" class="glyphicon glyphicon-star"></span>
                            </div>
                            <div class="col-sm-4" style="background-color:pink;border:3px solid red;height:250px;border-radius: 10px;">
                                Caution Category...
                                <span style="float:right" class="glyphicon glyphicon-alert"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="index.html#!/student">Simon Redman</a>
                        <span id="chevDown4" class="glyphicon glyphicon-chevron-down" style="float:right;cursor:pointer" 
                              data-toggle="collapse" data-target="#collapse2" onclick="$(this).toggleClass('glyphicon-chevron-up glyphicon-chevron-down')"></span>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="background-color:yellow;height:250px">
                                <p>Student specific visualization (graph)...</p>
                            </div>
                            <div class="col-sm-4">
                                Progress Category...
                                <span style="float:right" class="glyphicon glyphicon-star"></span>
                            </div>
                            <div class="col-sm-4">
                                Caution Category...
                                <span style="float:right" class="glyphicon glyphicon-alert"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="index.html#!/student">Guy Watson</a>
                        <span id="chevDown4" class="glyphicon glyphicon-chevron-down" style="float:right;cursor:pointer" 
                              data-toggle="collapse" data-target="#collapse3" onclick="$(this).toggleClass('glyphicon-chevron-up glyphicon-chevron-down')"></span>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="background-color:yellow;height:250px">
                                <p>Student specific visualization (graph)...</p>
                            </div>
                            <div class="col-sm-4">
                                Progress Category...
                                <span style="float:right" class="glyphicon glyphicon-star"></span>
                            </div>
                            <div class="col-sm-4">
                                Caution Category...
                                <span style="float:right" class="glyphicon glyphicon-alert"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="index.html#!/student">Nico DiSera</a>
                        <span id="chevDown4" class="glyphicon glyphicon-chevron-down" style="float:right;cursor:pointer" 
                              data-toggle="collapse" data-target="#collapse4" onclick="$(this).toggleClass('glyphicon-chevron-up glyphicon-chevron-down')"></span>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="background-color:yellow;height:250px">
                                <p>Student specific visualization (graph)...</p>
                            </div>
                            <div class="col-sm-4">
                                Progress Category...
                                <span style="float:right" class="glyphicon glyphicon-star"></span>
                            </div>
                            <div class="col-sm-4">
                                Caution Category...
                                <span style="float:right" class="glyphicon glyphicon-alert"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
