<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li class="active"><a data-toggle="tab" data-target="#overview">Overview</a></li>
        <li><a data-toggle="tab" data-target="#tests">Test Scores</a></li>
        <li><a data-toggle="tab" data-target="#behavior">Behavior</a></li>
        <li><a data-toggle="tab" data-target="#goals">IEP Goals</a></li>
        <li><a data-toggle="tab" data-target="#services">Services</a></li>
        <li><a data-toggle="tab" data-target="#grades">Grades</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li class="active"><a data-toggle="tab" data-target="#overview">Overview</a></li>
        <li><a data-toggle="tab" data-target="#tests">Test Scores</a></li>
        <li><a data-toggle="tab" data-target="#behavior">Behavior</a></li>
        <li><a data-toggle="tab" data-target="#goals">IEP Goals</a></li>
        <li><a data-toggle="tab" data-target="#services">Services</a></li>
        <li><a data-toggle="tab" data-target="#grades">Grades</a></li>
    </ul>
    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <h3>Overview</h3>
            <hr />
            <div class="container">
                <div class="row"><label>First Name:</label></div>
                <div class="row"><label>Last Name:</label></div>
                <div class="row"><label>Birthday:</label></div>
            </div>
        </div>
        <div id="tests" class="tab-pane fade">
            <h3>Test Scores</h3>
            <hr />
        </div>
        <div id="behavior" class="tab-pane fade">
            <h3>Behavior</h3>
            <hr />
            <div id="behaviorMonthlyGraphic" class="studentBehavior">
                <p>
                    This should be a graphic showing the student's behavior and effort over the last month
                </p>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div id="behaviorClassGraphic" class="studentBehavior">
                <p>
                    This should be a graphic showing the student's recent behavior in various classes
                </p>
            </div>
            <div id="behaviorAlert" class="studentBehavior">
                <p>
                    This should alert the coordinator that something unusual is happening
                </p>
            </div>
            <div id="behaviorEntry" class="studentBehavior">
                <p>
                    This should let the coordinator select a date and enter behavior/effort scores for each of that student's classes
                </p>
                <form class="form-inline" action="">
                    <form-group>
                        <label for="date">For date: </label>
                        <div class="input-group date" data-provide="datepicker">
                            <input ng-model="behaviorDate" type="text" class="form-control" id="datepicker">
                        </div>
                    </form-group>
                </form>
                <!--<form>
                    Birthday:
                    <input type="date" name="bday">
                    <input type="submit">
                </form>-->
            </div>
            <table class="table table-striped table-responsive" ng-controller="studentController">
                <thead>
                    <tr>
                        <th>Classes</th>
                        <th>Behavior</th>
                        <th>Effort</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in records">
                        <td>{{x.Name}}</td>
                        <td>
                            <select class="behaviorScore">
                                <option disabled selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td>
                            <select class="effortScore">
                                <option disabled selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<div id="behaviorView" class="studentBehavior">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" data-target="#behaviorViewAvg">Average</a>
                    </li>
                    <li><a data-toggle="tab" data-target="#behaviorViewMax">Max</a></li>
                    <li><a data-toggle="tab" data-target="#behaviorViewMin">Min</a></li>
                </ul>
                <div class="tab-content">
                    <div id="behaviorViewAvg" class="tab-pane in active">
                        Show the student's average behavior and effort over the past week
                    </div>
                    <div id="behaviorViewMax" class="tab-pane">
                        Show the student's best behavior and effort over the past week
                    </div>
                    <div id="behaviorViewMin" class="tab-pane">
                        Show the student's worst behavior and effort over the past week
                    </div>
                </div>
                <p>
                    This should let the coordinator see the student's average/high/low scores for the past week
                </p>
            </div>-->
        </div>
        <div id="goals" class="tab-pane fade">
            <h3>IEP Goals</h3>
            <hr />
        </div>
        <div id="services" class="tab-pane fade">
            <h3>Services</h3>
            <hr />
        </div>
        <div id="grades" class="tab-pane fade">
            <h3>Grades</h3>
            <hr />
        </div>
    </div>
</div>
