.inlineHeading {
    display: inline-block;
}

.taskSelection {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.deleteSuccess {
    margin-top: 15px;
}

.pencilEdit {
    cursor: pointer;
}

.pencilEdit:hover {
    color:blue;
}
