<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li class="active"><a data-toggle="tab" data-target="#overview">Overview</a></li>
        <li><a data-toggle="tab" data-target="#tests">Test Scores</a></li>
        <li><a data-toggle="tab" data-target="#behavior">Behavior</a></li>
        <li><a data-toggle="tab" data-target="#goals">IEP Goals</a></li>
        <li><a data-toggle="tab" data-target="#services">Services</a></li>
        <li><a data-toggle="tab" data-target="#grades">Grades</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li class="active"><a data-toggle="tab" data-target="#overview">Overview</a></li>
        <li><a data-toggle="tab" data-target="#tests">Test Scores</a></li>
        <li><a data-toggle="tab" data-target="#behavior">Behavior</a></li>
        <li><a data-toggle="tab" data-target="#goals">IEP Goals</a></li>
        <li><a data-toggle="tab" data-target="#services">Services</a></li>
        <li><a data-toggle="tab" data-target="#grades">Grades</a></li>
    </ul>

    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <h3>Overview</h3>
        </div>
        <div id="tests" class="tab-pane fade">
            <h3>Test Scores</h3>
        </div>
        <div id="behavior" class="tab-pane fade">
            <h3>Behavior</h3>
            <div id="behaviorMonthlyGraphic" class="studentBehavior">
                <p>
                    This should be a graphic showing the student's behavior and effort over the last month
                </p>
            </div>
            <div id="behaviorClassGraphic" class="studentBehavior">
                <p>
                    This should be a graphic showing the student's recent behavior in various classes
                </p>
            </div>
            <div id="behaviorAlert" class="studentBehavior">
                <p>
                    This should alert the coordinator that something unusual is happening
                </p>
            </div>
            <div id="behaviorEntry" class="studentBehavior">
                <p>
                    This should let the coordinator select a date and enter behavior/effort scores for each of that student's classes
                </p>
                <form>
                    Birthday:
                    <input type="date" name="bday">
                    <input type="submit">
                </form>
            </div>
            <div id="behavior_view" class="student_behavior">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" data-target="#behavior_view_avg">Average</a>
                    </li>
                    <li><a data-toggle="tab" data-target="#behavior_view_max">Max</a></li>
                    <li><a data-toggle="tab" data-target="#behavior_view_min">Min</a></li>
                </ul>
                <div class="tab-content">
                    <div id="behaviorViewAvg" class="tab-pane in active">
                        Show the student's average behavior and effort over the past week
                    </div>
                    <div id="behaviorViewMax" class="tab-pane">
                        Show the student's best behavior and effort over the past week
                    </div>
                    <div id="behaviorViewMin" class="tab-pane">
                        Show the student's worst behavior and effort over the past week
                    </div>
                </div>
                <p>
                    This should let the coordinator see the student's average/high/low scores for the past week
                </p>
            </div>
        </div>
        <div id="goals" class="tab-pane fade">
            <h3>IEP Goals</h3>
        </div>
        <div id="services" class="tab-pane fade">
            <h3>Services</h3>
        </div>
        <div id="grades" class="tab-pane fade">
            <h3>Grades</h3>
        </div>
    </div>
</div>
