.panel-placeholder {
    border: 1px dotted black;
    border-radius: 4px;
    margin: 0 15px 20px 15px;
    padding: 0;
    height: 50px;
}

#focus-student-select .glyphicon.glyphicon-fire, #focus-student-select .glyphicon.glyphicon-alert, #focus-student-select .glyphicon.glyphicon-heart {
    font-size:20px;
    float:right;
}

.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-down {
    float:right;
    cursor:pointer
}

.focusProgress, .focusCaution, .focusGraph {
    height: 200px;
}

.focus-remove-button {
    float: left;
    width: 40px;
    margin-top: -2px;
}

.focus-remove-button > button {
    height: 48px;
    width: 45px;
}

.focus-student-panel-editing .panel {
    margin-bottom: 33px;
}

.sortable .focus-student-row:last-child .panel {
    margin-bottom: 0px;
}


.focus-width-none {
    width: 0px;
    padding: 0px;
    border: none;
}

.focus-student-row.not-sortable .panel > .panel-heading.panel-heading-link:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    color: #11527d;
}

.focus-student-row .panel > .panel-heading.panel-heading-link:hover {
    cursor: move;
    background-color: #e7e7e7;
}

.focus-top-button {
    margin-top: 15px;
}

.focus-delete-group {
    margin-top: -10px;
    float: right !important;
}

#focus-student-select > .input-group-addon {
    width: unset;
}

#focus-student-select > .input-group-btn {
    width: 100%;
}

#focus-student-select > .input-group-btn > button {
    width: 100%;
}

#focus-student-select > .input-group-btn > ul {
    width: 100%;
}

#focus-student-select .input-group-text {
    font-size: 14px;
}

#focus-student-select > .input-group-btn.fake-btn {
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 400;
    padding: 6px 0px;
}

.focus-student-assign-link {
    cursor: pointer;
}


.focus-student-table .glyphicon {
    margin-right: 10px;
}

.focus-student-table {
    display: table;
}

.focus-student-cell {
    display: table-cell;
    vertical-align: middle;
}

#focus-student-select > .input-group-addon.focus-category {
    background-color: #d2ecf9;
    color: #126087;
}

#focus-student-select > .input-group-addon.progress-category {
    background-color: #dbf0e7;
    color: #33805e;
}

#focus-student-select > .input-group-addon.caution-category {
    background-color: #f2dede;
    color: #a94442;
}
