.panel-placeholder {
    border: 1px dotted black;
    border-radius: 4px;
    margin: 0 15px 20px 15px;
    padding: 0;
    height: 50px;
}

.glyphicon.glyphicon-fire, .glyphicon.glyphicon-alert, .glyphicon.glyphicon-heart-empty {
    font-size:25px;
    float:right;
}

.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-down {
    float:right;
    cursor:pointer
}

.focusProgress, .focusCaution, .focusGraph {
    height: 200px;
}

.focus-remove-button {
    width: 40px;
    float: right;
    margin-top: -2px;
}

.focus-remove-button > button {
    height: 40px;
}

.focus-student-panel-editing {
    display: inline-block;
    width: calc(100% - 50px);
}

.focus-width-none {
    width: 0px;
    padding: 0px;
    border: none;
}
