#login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-image: url("../img/sprout_background3.jpg");
    background-size: cover;
}

#login-background-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) 0% 0% / cover, url("../img/sprout_background") center center;
}

#login-box {
    margin-top: 100px;
}

#login-top-label, #login-bottom-label {
    font-weight: 200;
}

#login-logo-container {
    text-align: center;
}

#login-logo {
    width: 30%;
}

@media all and (max-width: 430px) {
    #login-logo {
        width: 40%;
    }
}

#login-input-group-bottom {
    margin-top: -2px;
}

#login-top-label {
    min-width: 90px;
    text-align: left;
    border-bottom-width: 0px;
}

#login-bottom-label {
    min-width: 90px;
    text-align: left;
}

#login-top-label.password-confirm, #login-bottom-label.password-confirm {
    min-width: 120px;
}

#login-top-input {
    border-bottom-width: 1px;
    box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
}

#login-bottom-input {
    box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
}

#login-form-btn {
    padding: 6px 14px 6px 12px;
    border-left-width: 0px;
    box-shadow: inset 0 1px 0px rgba(0,0,0,.075);
    color: #999;
}

#login-form-btn:hover {
    background-color: #FFF;
    color: #333;
    border-color: #CCC;
}

.login-link {
    color: #eee;
}

.login-link:hover {
    color: #eee;
}

.ng-fade {
  transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
}

.ng-fade.ng-enter {
    opacity: 0;
}

.ng-fade.ng-enter.ng-enter-active {
    opacity: 1;
}
