.inlineHeading {
    display: inline-block;
}

.taskSelection {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.deleteAlert {
    margin-top: 15px;
}

.pencilEdit {
    cursor: pointer;
}

.pencilEdit:hover {
    color:blue;
}

.smBtnGroup {
    display: table;
    margin: 0 auto;
}

.checkBtn {
    border-radius: 0px; 
    border-left: 0px;
}
