@media (max-width: 768px) {
    .nav-tabs > li, .nav-pills > li {
        float: none;
        width: 110px;
        display: inline-block;
        *display: inline; /* ie7 fix */
        zoom: 1; /* hasLayout ie7 trigger */
    }

    .student-mobile-spacer {
        margin-top: 15px;
    }
}

.student-name-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

#student-overview-pic > img {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#student-overview-title {
    margin-top: 60px;
    overflow-wrap: break-word;
}

#student-overview-assign-dropdown {
    width: 50px;
    float: right !important;
}

.student-overview-assign-link {
    cursor: pointer;
}


.student-overview-edit-label {
    min-width: 94px;
}

.student-tests-graph {
    height: 300px;
}

#student-overview-edit-all-btn {
    margin-top: -5px;
    margin-right: -10px;
    font-size: 11px;
}

#student-overview-edit-input-group {
    padding-right: 15px;
}

#student-overview-select > .input-group-addon {
    width: unset;
}

#student-overview-select > .input-group-btn {
    width: 100%;
}

#student-overview-select > .input-group-btn > button {
    width: 100%;
}

#student-overview-select > .input-group-btn > ul {
    width: 100%;
}

#student-overview-no-classes {
    border: 1px solid #DDD;
}

#student-overview-no-classes > h4 {
    margin: 20px 0px;
}


.studentHeading {
    display: inline-block;
}

.studentReassign {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.pointer {
    cursor: pointer;
}

#student-grades-select > .input-group-addon {
    width: unset;
}

#student-grades-select > .input-group-btn {
    width: 100%;
}

#student-grades-select > .input-group-btn > button {
    width: 100%;
}

#student-grades-select > .input-group-btn > ul {
    width: 100%;
}

.student-grades-box-content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.student-behaviors-no-input-classes {
    border: 1px solid #DDD;
}

.student-behaviors-no-input-classes > h4 {
    margin: 20px 0px;
}

.student-services-panel .form-control-static {
    display: inline-block;
}

.student-services-panel .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.student-services-panel .panel-title {
    display: inline-block;
}

.student-services-panel .panel-heading .glyphicon {
    font-size: 30px;
    margin-top: -5px;
    margin-right: -10px;
    color: #c9302c;
}

.student-services-panel {
    border-color: #c9302c;
}

.student-services-panel > .panel > .panel-heading {
    background-color: #f6d6d5;
}

.student-services-panel.fulfilled {
    border-color: #57bc90;
}

.student-services-panel.fulfilled > .panel > .panel-heading {
    background-color: #dbf0e7;
}

.student-services-panel.fulfilled .panel-heading .glyphicon {
    color: #57bc90;
}


@media (max-width: 768px) {
    #student-overview-title {
        margin-top: 15px;
        text-align: center;
    }

    #student-overview-assign-dropdown {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }

    #student-overview-edit-input-group {
        padding-left: 15px;
    }
}

