@media (max-width: 768px) {
    .nav-tabs > li, .nav-pills > li {
        float: none;
        width: 110px;
        display: inline-block;
        *display: inline; /* ie7 fix */
        zoom: 1; /* hasLayout ie7 trigger */
    }

}

.nav-tabs > li, .nav-pills > li {
        width: 110px;
    }

.nav-tabs, .nav-pills {
    text-align: center;
}

.nav-tabs li, .nav-pills li {
    cursor: pointer;
}

.student-name-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

#student-overview-pic > img {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#student-overview-title {
    margin-top: 60px;
    overflow-wrap: break-word;
}

#student-overview-assign-dropdown {
    width: 50px;
    float: right !important;
}

.student-overview-assign-link {
    cursor: pointer;
}


.student-overview-edit-label {
    min-width: 94px;
}

.student-tests-graph {
    height: 300px;
}

#student-overview-edit-all-btn {
    margin-top: -5px;
    margin-right: -10px;
    font-size: 11px;
}

#student-overview-edit-input-group {
    padding-right: 15px;
}


.studentHeading {
    display: inline-block;
}

.studentReassign {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.pointer {
    cursor: pointer;
}

#student-grades-select > .input-group-addon {
    width: unset;
}

#student-grades-select > .input-group-btn {
    width: 100%;
}

#student-grades-select > .input-group-btn > button {
    width: 100%;
}

#student-grades-select > .input-group-btn > ul {
    width: 100%;
}

.student-grades-box-content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-wrapper.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
    margin-top: 5px;
}

.panel-wrapper.ng-enter.ng-enter-active {
    opacity: 1;
    margin-top: 0px;
}

.panel-wrapper.ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
    margin-top: 0px;
}

.panel-wrapper.ng-leave.ng-leave-active {
    opacity: 0;
    margin-top: 5px;
}


@media (max-width: 768px) {
    #student-overview-title {
        margin-top: 15px;
        text-align: center;
    }

    #student-overview-assign-dropdown {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }

    #student-overview-edit-input-group {
        padding-left: 15px;
    }
}

