.student-frame {
    height: 100px;
    width: 100px;
    background-color: #ddd;
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.student-image {
    height: 100px;
    width: 100px;
    /* account for border of frame */
    margin-top: -5px;
    margin-left: -5px;
}

.student-tiny-col {
    width: 17%;
}

.student-min-col {
    width: 1px;
}

.student-overview-parent-panel {
    margin-bottom: 30px;
    border: none;
}

.student-overview-parent-panel > .panel-heading {
    padding: 15px;
    background: linear-gradient(to right, #0b3c5d, #105989);
    border: none;
}

.student-overview-parent-panel > .panel-heading > .panel-title {
    font-size: 23px;
    color: #eee;
}

.student-overview-parent-panel > .panel-body {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.student-overview-parent-panel .parent-info {
    font-size: 18px;
}

.student-overview-parent-panel .parent-info .fa-certificate {
    margin-left: 10px;
    margin-bottom: -2px;
    color: #5ab9ea;
}

.student-overview-parent-spacer {
    margin-top: 10px;
}

#student-overview-image-preview {
    text-align: right;
}

#student-overview-image-preview > .picture-frame {
    margin: 0 auto;
    display: inline-block;
}

#student-overview-image-btns > div {
    text-align: left;
}

#student-overview-image-btns > div > button {
    margin: 10px auto 0px auto;
    max-width: 200px;
}

#student-overview-image-modal .modal-body {
    height: 350px;
}

#student-overview-crop-area {
    width: 300px;
    height: 300px;
    float: right;
    border: 4px dashed #ccc;
    border-radius: 4px;
    background-color: #ddd;
    transition: border-color 0.5s ease;
    transition: background-color 0.5s ease;
}

#student-overview-crop-area.dragover {
    background-color: #b9dfd0;
    border-color: #57bc90;
}

#student-overview-crop-instructions {
    position: relative;
    width: 250px;
    top: 80px;
    left: 23px;
    text-align: center;
    color: #888;
}

#student-overview-image-crop {
    height: 300px;
    margin-right: 315px;
    padding-top: 100px;
    text-align: center;
}

#student-overview-image-crop > div {
    background-color: #0b3c5d;
    border-radius: 4px;
}

#student-overview-image-crop > div > .picture-frame {
    margin-top: -45px;
}

#student-overview-image-crop > div > h3 {
    font-weight: 100;
    color: #fff;
    margin-top: 10px;
    padding-bottom: 15px;
}

#student-overview-image-modal .btn-manipulate-row {
    margin-top: 15px;
}

@media (max-width: 650px) {
    #student-overview-crop-area {
        float: none;
        margin: 0 auto;
    }

    #student-overview-image-modal .modal-body {
        height: unset;
    }

    #student-overview-image-crop {
        height: unset;
        margin-right: 0px;
        padding-top: 65px;
        padding-bottom: 15px;
    }

    #student-overview-image-modal .btn-manipulate-row {
        margin-top: -10px;
    }
}

@media (max-width: 370px) {
    #student-overview-crop-area {
        height: 220px;
        width: 220px;
    }

    #student-overview-crop-instructions {
        width: 180px;
        top: 35px;
        left: 18px;
    }
}

.student-tests-graph {
    height: 300px;
}

.student-tests-panel-info {
    margin-bottom: 10px;
    text-align: center;
}

.student-tests-panel-info > .panel-body {
    padding: 8px;
}

.student-grades-box-content {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#student-behaviors-service-warning {
    margin-bottom: 15px;
}

.student-behaviors-graph {
    height: 300px;
}
.student-behaviors-report-graph {
    height: 150px;
}

.student-behaviors-comment-btns {
    float: right;
}

.student-behaviors-comment-header {
    display: inline-block;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
}

.student-behaviors-comment-header.full-width {
    width: 100% !important;
}

.student-behaviors-comment-header.editing {
    width: calc(100% - 100px);
}

.student-behaviors-comment-header > h4 {
    font-size: 15px;
    font-weight: normal;
    margin: 10px 0px 10px 10px;
    color: #555;
}

.student-behaviors-comment-textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
}

.student-behaviors-comment-textarea-fake {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    white-space: pre-line;
}

.student-services-panel .form-control-static {
    display: inline-block;
}

.student-services-panel .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.student-services-panel {
    border-color: #c9302c;
}

.student-services-panel.fulfilled {
    border-color: #57bc90;
}

.student-services-red {
    color: #813332;
}

.student-services-checkbox {
    padding-top: 7px;
}

.student-services-panel .panel-body {
    background-color: #faebea;
}

.student-services-panel.fulfilled .panel-body {
    background-color: #edf7f3;
}

.student-services-panel .student-services-delete {
    margin-top: -9px;
    margin-right: -9px;
}

.student-services-glyph-fix {
    margin-top: -5px;
}

.student-services-glyph-fix-remove {
    margin-top: -6px;
}

.student-ieps-graph {
    height: 250px;
}

.student-ieps-spacer {
    margin-top: 20px;
}

.editable-row.achieved {
    background-color: #dbf0e7;
    color: #245b43;
}

.student-ieps-tiny-col {
    width: 17%;
}

.student-ieps-min-col {
    width: 1px;
}

.student-ieps-hover-pencil {
    margin-right: 20px;
}

.student-ieps-note-title {
    font-weight: 400;
}

.student-ieps-note-spacer {
    margin-top: 2px;
}

#student-ieps-select-manipulate {
    display: inline-block;
    float: right;
    margin-top: -3px;
}

#student-ieps-select {
    display: inline-block;
    width: calc(100% - 50px);
}

#student-ieps-select.full-width {
    width: 100% !important;
}

#student-ieps-edit-form .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.student-ieps-checkbox {
    padding-top: 7px;
}

@media (max-width: 767px) {

    #student-overview-image-preview {
        text-align: center;
    }

    #student-overview-image-btns {
        text-align: center;
    }

    #student-overview-image-btns > div > button {
        display: block;
        margin: 8px auto 0px auto;
    }

    #student-ieps-select {
        width: 100%;
    }

    #student-ieps-select-manipulate {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .student-mobile-spacer {
        margin-top: 15px;
    }
}

.student-grades-progress-circle {
    width: 100%;
    height: 150px;
}

.student-grades-progress-circle.progress-circle.warning .progress-circle-stroke {
    stroke: rgba(240, 173, 78, 0.4);
}

.student-grades-progress-circle.progress-circle.danger .progress-circle-stroke, .student-grades-progress-circle .progress-circle.danger.warning .progress-circle-stroke {
    stroke: rgba(201, 48, 44, 0.4);
}

#student-services-add-btn {
    margin-top: -3px;
}

#student-services-add-btn.btn-manipulate-row-bottom {
    margin-top: 20px;
}

.calendar-container {
    width: 100%;
}

@media (max-width: 767px) {
    .doughnut-height {
        height: 275px;
    }

    .fc-right {
        display: none;
    }

    .fc-center {
        float: right;
    }
}

@media (min-width: 768px) {
    .doughnut-height {
        height: 225px;
    }
}

.fc-unthemed td.fc-today {
    background: #dbf0e7;
}

.hidden-graph {
    opacity: 0.0;
    height: 500px;
    width: 1000px;
}
