.panel.panel-tabs {
    margin-top: 40px;
    margin-bottom: 25px;
    border: none;
}

.panel.panel-tabs.no-image {
    margin-top: 0px;
}

.panel.panel-tabs > .panel-heading {
    padding: 15px;
    background-color: #0b3c5d;
    /* background: linear-gradient(to right, #0b3c5d, #4da0cc); */
    border: 1px solid #082c44;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
}

.panel.panel-tabs > .panel-heading > img, .panel.panel-tabs > .panel-heading > .panel-glyph {
    display: inline-block;
    float: left;
    height: 100px;
    width: 90px;
    margin-top: -60px;
    border: 2px solid #0b3c5d;
    border-radius: 50%;
    background-color: #fff;
}

.panel.panel-tabs > .panel-heading > .panel-glyph > .glyphicon {
    left: 15px;
    top: 20px;
    font-size: 50px;
    color: #0b3c5d;
}

.panel.panel-tabs > .panel-heading > .panel-title {
    display: inline-block;
    margin-left: 10px;
    color: #eee;
    font-size: 35px;
}

.panel.panel-tabs > .panel-heading > .panel-title {
    font-weight: 100;
}

.panel.panel-tabs > .panel-heading > .panel-title > span:first-child {
    font-weight: 500;
}

.panel.panel-tabs > .panel-body {
    padding: 0px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

.panel.panel-tabs .nav-tabs {
    border: none;
}

.panel.panel-tabs .nav-pills {
    margin-top: 15px;
}

.panel.panel-tabs .nav-tabs > li:first-child > a {
    border-bottom-left-radius: 4px;
}

@media (max-width: 768px) {
    .panel.panel-tabs > .panel-heading {
        border: 1px solid #082c44;
        border-radius: 4px;
    }

    .panel.panel-tabs > .panel-body {
        border: none;
    }

    .panel.panel-tabs > .panel-heading > img {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .panel.panel-tabs > .panel-heading > .panel-title {
        display: block;
        margin: 5px 0px 0px 0px;
        text-align: center;
    }

    .panel.panel-tabs.no-image > .panel-heading > .panel-title {
        margin: 0px;
    }
}
