<div class="container">
    <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
        <li class="active"><a data-toggle="tab" data-target="#overview">Overview</a></li>
        <li><a data-toggle="tab" data-target="#tests">Test Scores</a></li>
        <li><a data-toggle="tab" data-target="#behavior">Behavior</a></li>
        <li><a data-toggle="tab" data-target="#goals">IEP Goals</a></li>
        <li><a data-toggle="tab" data-target="#services">Services</a></li>
        <li><a data-toggle="tab" data-target="#grades">Grades</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li class="active"><a data-toggle="tab" data-target="#overview">Overview</a></li>
        <li><a data-toggle="tab" data-target="#tests">Test Scores</a></li>
        <li><a data-toggle="tab" data-target="#behavior">Behavior</a></li>
        <li><a data-toggle="tab" data-target="#goals">IEP Goals</a></li>
        <li><a data-toggle="tab" data-target="#services">Services</a></li>
        <li><a data-toggle="tab" data-target="#grades">Grades</a></li>
    </ul>

    <div class="tab-content">
        <div id="overview" class="tab-pane fade in active">
            <h3>Overview</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="tests" class="tab-pane fade">
            <h3>Test Scores</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="behavior" class="tab-pane fade">
            <h3>Behavior</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="goals" class="tab-pane fade">
            <h3>IEP Goals</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div id="services" class="tab-pane fade">
            <h3>Services</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div id="grades" class="tab-pane fade">
            <h3>Grades</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
