<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default panel-tabs no-image">
            <div class="panel-heading">
                <h2 class="panel-title">Manage</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
                            <li ng-class="{ 'active': location.path() === '/manage/cases', }"><a href="/manage/cases">Managers</a></li>
                            <li ng-class="{ 'active': location.path() === '/manage/teachers', }"><a href="/manage/teachers">Teachers</a></li>
                            <li ng-class="{ 'active': location.path() === '/manage/students', }"><a href="/manage/students">Students</a></li>
                            <li ng-class="{ 'active': location.path() === '/manage/classes', }"><a href="/manage/classes">Classes</a></li>
                        </ul>
                        <ul class="nav nav-tabs hidden-xs">
                            <li ng-class="{ 'active': location.path() === '/manage/cases', }"><a href="/manage/cases">Managers</a></li>
                            <li ng-class="{ 'active': location.path() === '/manage/teachers', }"><a href="/manage/teachers">Teachers</a></li>
                            <li ng-class="{ 'active': location.path() === '/manage/students', }"><a href="/manage/students">Students</a></li>
                            <li ng-class="{ 'active': location.path() === '/manage/classes', }"><a href="/manage/classes">Classes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
