<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
            <li ng-class="{ 'active': location.path() === '/manage/classes', }"><a href="/manage/classes">Classes</a></li>
            <li ng-class="{ 'active': location.path() === '/manage/teachers', }"><a href="/manage/teachers">Teachers</a></li>
            <li ng-class="{ 'active': location.path() === '/manage/students', }"><a href="/manage/students">Students</a></li>
            <li ng-class="{ 'active': location.path() === '/manage/cases', }"><a href="/manage/cases">Managers</a></li>
        </ul>
        <ul class="nav nav-tabs hidden-xs">
            <li ng-class="{ 'active': location.path() === '/manage/classes', }"><a href="/manage/classes">Classes</a></li>
            <li ng-class="{ 'active': location.path() === '/manage/teachers', }"><a href="/manage/teachers">Teachers</a></li>
            <li ng-class="{ 'active': location.path() === '/manage/students', }"><a href="/manage/students">Students</a></li>
            <li ng-class="{ 'active': location.path() === '/manage/cases', }"><a href="/manage/cases">Managers</a></li>
        </ul>
    </div>
</div>
