<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
            <li ng-class="{ 'active': location.path() === '/profile/focus', }"><a href="/profile/focus">Focus</a></li>
            <li ng-class="{ 'active': location.path() === '/profile/students', }"><a href="/profile/students">My Students</a></li>
        </ul>
        <ul class="nav nav-tabs hidden-xs">
            <li ng-class="{ 'active': location.path() === '/profile/focus', }"><a href="/profile/focus">Focus</a></li>
            <li ng-class="{ 'active': location.path() === '/profile/students', }"><a href="/profile/students">My Students</a></li>
        </ul>
    </div>
</div>
