<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
            <li ng-class="{ 'active': location.path() === '/settings/user', }"><a href="/settings/user">User</a></li>
            <li ng-class="{ 'active': location.path() === '/settings/school', }"><a href="/settings/school">School</a></li>
        </ul>
        <ul class="nav nav-tabs hidden-xs">
            <li ng-class="{ 'active': location.path() === '/settings/user', }"><a href="/settings/user">User</a></li>
            <li ng-class="{ 'active': location.path() === '/settings/school', }"><a href="/settings/school">School</a></li>
        </ul>
    </div>
</div>
