<div class="row">
    <div class="col-xs-12">
        <h2 class="student-name-title">{{ student.first_name }} {{ student.last_name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
            <li ng-class="{ 'active': location.path() === '/student/' + student.id, }"><a ng-href="/student/{{student.id}}">Overview</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/tests', }"><a ng-href="/student/{{student.id}}/tests">Test Scores</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/grades', }"><a ng-href="/student/{{student.id}}/grades">Grades</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/behaviors', }"><a ng-href="/student/{{student.id}}/behaviors">Behavior</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/ieps', }"><a ng-href="/student/{{student.id}}/ieps">IEP Goals</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/services', }"><a ng-href="/student/{{student.id}}/services">Services</a></li>
        </ul>
        <ul class="nav nav-tabs hidden-xs">
            <li ng-class="{ 'active': location.path() === '/student/' + student.id, }"><a ng-href="/student/{{student.id}}">Overview</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/tests', }"><a ng-href="/student/{{student.id}}/tests">Test Scores</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/grades', }"><a ng-href="/student/{{student.id}}/grades">Grades</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/behaviors', }"><a ng-href="/student/{{student.id}}/behaviors">Behavior</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/ieps', }"><a ng-href="/student/{{student.id}}/ieps">IEP Goals</a></li>
            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/services', }"><a ng-href="/student/{{student.id}}/services">Services</a></li>
        </ul>
    </div>
</div>
