<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default panel-tabs">
            <div class="panel-heading">
                <img id="student-tabs-image" ng-src="{{ toDisplay }}">
                <h2 class="panel-title">
                    <span>{{ student.first_name }}</span>
                    <span> {{ student.last_name }}</span>
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills hidden-sm hidden-md hidden-lg hidden-xl">
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id, }"><a ng-href="/student/{{student.id}}">Overview</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/tests', }"><a ng-href="/student/{{student.id}}/tests">Test Scores</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/grades', }"><a ng-href="/student/{{student.id}}/grades">Grades</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/behaviors', }"><a ng-href="/student/{{student.id}}/behaviors">Behavior</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/ieps', }"><a ng-href="/student/{{student.id}}/ieps">IEP Goals</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/services', }"><a ng-href="/student/{{student.id}}/services">Services</a></li>
                        </ul>
                        <ul class="nav nav-tabs hidden-xs">
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id, }"><a ng-href="/student/{{student.id}}">Overview</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/tests', }"><a ng-href="/student/{{student.id}}/tests">Test Scores</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/grades', }"><a ng-href="/student/{{student.id}}/grades">Grades</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/behaviors', }"><a ng-href="/student/{{student.id}}/behaviors">Behavior</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/ieps', }"><a ng-href="/student/{{student.id}}/ieps">IEP Goals</a></li>
                            <li ng-class="{ 'active': location.path() === '/student/' + student.id + '/services', }"><a ng-href="/student/{{student.id}}/services">Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
